article {
	padding: 178px 109px 105px;
}
article h1 {
	color: #555963;
	font-family: @title-font;
	font-size: 57px;
}
.return a {
	border-bottom: 2px solid @main-color;
	display: inline-block;
	font-family: 'Lato',serif;
	font-size: 16px;
	line-height: 33px;

	&:hover {
		color: @font-color;
	}
}
.return img{
	padding-left: 14px;
}
.single_post_header {
	width: 59%;
	margin: 0 auto;
}
.post_author {
	display: block;
	border-top: 1px solid rgba(229, 230, 231, .5);
	border-bottom: 1px solid rgba(229, 230, 231, .5);
	line-height: 33px;
	position: relative;

	&:after {
		content: '';
		height: 15px;
		width: 2px;
		background: rgba(229, 230, 231, .5);
		position: absolute;
		left: 128px;
		top: 9px;
	}
}
.post_author .author, .post_author .date {
	display: inline-block;
}
.post_author a {
	float: right;
	padding: 7px 11px;
}
.date {
	color: #a8a8a8;
	font-family: 'Lato', serif;
	font-size: 13px;
}
.related_item1, .related_item2, .related_item3 {
	width: 30%;
	display: inline-block;
}
figcaption {
	font-family: 'Lato', serif;
	font-size: 14px;
	color: #a8a8a8;
	max-width: 748px;
	margin: 0 auto;
}
.post_content p {
	font-family: 'Yrsa', serif;
	font-size: 23px;
	color: #555963;
}
.post_content {
	max-width: 748px;
	margin: 0 auto;
	.h5-small-p {
		width: 100%;
	}
}
.post_content a {
	color: @font-color;
}
blockquote {
	font-family: 'PT Serif', serif;
	font-weight: bold;
	font-style: italic;
	font-size: 20px;
	color: #555963;
	margin: 0 auto;
}
.post_content h2 {
	font-family: @title-font;
	font-size: 42px;
	color: #555963;
}
.h5 {
	padding: 55px 0;

	&:after {
		content: '';
		display: table;
		clear: both;
	}
}
.h5 h5, .h5 p {
	display: inline-block;
}
.h5 h5 {
	font-family: @title-font;
	font-size: 21px;
	line-height: 23px;
	color: #555963;
	width: 63%;
	margin: 0;
	padding-bottom: 25px;
}
.h5 .small {
	font-family: @text-font;
	font-size: 19px;
	line-height: 26px;
	color: #555963;
	width: 60%;
	padding-right: 36px;
	margin: 0;
	float: none;
}
.h5 p {
	float: right;
	margin: -93px 0 0;
}
h3 {
	font-family: @title-font;
	font-size: 28px;
	color: #555963;
}
h4 {
	font-family: @title-font;
	font-size: 24px;
	color: #555963;
}
.h4 li {
	font-family: @text-font;
	font-size: 23px;
	line-height: 26px;
	color: #555963;
}
.h4 {
	padding: 0;
}
.post_content figure {
	margin: 0;
}
.align_left {
	background-color: @bg-color;
	max-width: 247px;
	float: left;
	margin-top: 33px;
	margin-right: 60px;
	margin-bottom: 79px;
	padding: 40px;
}
.align_left h5 {
	margin-top: 0;
}
h5 {
	font-family: @title-font;
	font-size: 21px;
	color: #555963;
	line-height: 23px;
}
.align_left .small {
	font-family: @item-font;
	font-size: 15px;
	color: #555963;
	line-height: 23px;

}
.related_posts {
	max-width: 1212px;
	margin: 0 auto;
	border-top: 1px solid #bfbfbf;
	border-bottom: 1px solid #bfbfbf;
}
.related {
	padding: 40px 29px 40px 44px;
	display: inline-block;
	max-width: 27%;
	vertical-align: top;
}
.related img {
	float: left;
	padding-right: 26px;
	padding-bottom: 40px;
}
span.name {
	font-family: 'Amiri', serif;
	font-size: 18px;
	color: #eaad54;
}
.related a {
	display: block;
	font-family: @title-font;
	font-size: 21px;
	color: #555963;
	line-height: 23px;
	padding-bottom: 16px;

	&:hover {
		color:@font-color;
	}
}
span.date {
	position: relative;
	padding-left: 16px;
	&:before {
		content: '';
		height: 15px;
		width: 2px;
		background: rgba(229, 230, 231, .5);
		position: absolute;
		left: 6px;
		top: 0;
	}
}
.post_comments {
	width: 52%;
	margin: 116px auto 0;
}
.post_comments label {
	display: none;
}
.post_comments h3 {
	margin: 0;
	display: inline-block;
}
.comments_count {
	float: right;
	color: #bfbfbf;
	font-family: @item-font;
	font-size: 16px;
}
.new-comment {
	padding: 28px;
	background: #f5fdff;
	margin-top: 46px;
	margin-bottom: 80px;
	img {
		margin-right: 30px;
	}
}
.post_comments textarea {
	width: 77%;
	font-family: @item-font;
	font-size: 15px;
	font-style: italic;
	line-height: 32px;
	color: rgba(85, 89, 99, 0.6);
	border: none;
	background: none;
	display: inline-block;
	padding-left: 20px;
	margin: 0;
	border-bottom: 2px solid @main-color;
}
.post_comments button {
	padding: 0 0 0 25px;
	cursor: pointer;
	font-family: @item-font;
	font-size: 15px;
	border: none;
	color: rgb(85, 89, 99);
	background: none;
	vertical-align: super;
	height: 21px;
}
.post_comments ul {
	list-style: none;
	padding: 0;
}

.single_comment img {
	float: left;
	padding-right: 16px;
}
.single_comment .date {
	display: block;
}
.single_comment .name {
	font-family: @title-font;
	font-size: 21px;
	color: #555963;
}
.single_comment .prev-name {
	font-family: 'Amiri', serif;
	font-size: 16px;
	color: #eaad54;
}
.single_comment p {
	font-family: @text-font;
	font-size: 19px;
	color: #555963;
	line-height: 26px;
}
.more-btn button {
	width: 100%;
	border: 2px solid @main-color;
	border-radius: 0;
	background: none;
	height: 43px;
	margin-top: 79px;
	margin-bottom: 120px;
	font-family: @item-font;
	font-size: 16px;
}
@media all and (max-width: 1440px){
	.feature_img img {
		width: 100%;
	}
	.post_comments textarea {
		width: 74%;
	}
}
@media all and (max-width: 1266px){
	.single_post_header {
		width: auto;
	}
	.feature_img img {
		width: 100%;
	}
	.related {
		max-width: 42%;
	}
	.post_comments {
		width: 81%;
		textarea {
			width: 72%;
		}
	}
}
@media all and (max-width: 812px) {
	.h5 h5 {
		width: 56%
	}
	.h5 .small {
		width: 54%;
		padding-right: 0;
	}
}
@media all and (max-width: 769px) {
	.single_post_header {
		width: 100%;
	}
	.post figure {
		margin: 0;
	}
	.feature_img img {
		width: 100%
	}
	.h5 .small {
		width: 50%;
		padding: 0;
	}
	.h5 h5 {
		width: 50%;
	}
	.h5 p {
		float: right;
		margin: -116px 0 0;
	}
	.related {
		max-width: 40%;
	}
	.post_comments {
		width: 90%;
	}
}
@media all and (max-width: 743px) {
	article {
		padding: 178px 79px 105px;
	}
	.h5 h5 {
		width: 100%;
	}
	.h5 .small {
		width: 100%;
	}
	.h5 p {
		float: none;
		margin: 55px 0 0 0;
	}
	.related {
		max-width: 90%;
	}
	.post_comments textarea {
		width: 70%;
	}
}
@media all and (max-width: 667px) {
	.post_comments textarea {
		width: 69%;
	}
	.align_left {
		width: 100%;
		margin-right: 0;
		float: none;
	}
}
@media all and (max-width: 640px) {
	.post_comments textarea {
		width: 65%;
	}
}
@media (max-width: 568px) {

	.post_comments textarea {
		width: 60%;
	}
}
@media all and (max-width: 500px){
	.post_comments textarea {
		width: 55%;
	}

}
@media all and (max-width: 447px) {
	article {
		padding: 178px 10px 105px;
	}
	.h5 p {
		width: 100%;
		margin:0;
		float: none;
	}
	.h5 p img {
		width: 100%;
	}
	.h5 h5 {
		padding: 0 8px 31px;
		width: 97%;
	}
	.h5 .small {
		width: 97%;
		padding: 0 8px 31px;
	}
	.h5-small-p .align_left {
		max-width: 80%;
		margin-right: 0;
	}
	.related_posts {
		max-width: 99%;
	}
	.related {
		max-width: 90%;
		padding: 40px 30px;
	}
	.new-comment {
		padding: 28px 10px;
	}
	.post_comments {
		max-width: 100%;
		padding: 0 10px;
	}
	.post_comments textarea {
		width: 53%;
	}
}
@media all and (max-width: 375px) {
	.h5 h5 {
		padding: 0 8px 31px;
		width: 97%;
	}
	.post_comments textarea {
		width: 50%;
	}
}
@media (max-width: 360px) {
	.post_comments textarea {
		width: 45%;
	}
}
@media all and (max-width: 320px) {
	.post_comments textarea {
		width: 30%;
	}
	.post_comments button {
		padding-left: 15px;
	}
}
