.bookshelf {
  padding-top: 227px;
  padding-bottom: 54px;
  line-height: 32px;
}
.bookshelf-container {
  width: 1067px;
  margin: 0 auto;
}
.bookshelf-left-menu {
  width: 265px;
  display: inline-block;
  float: left;

  .left-menu {
    display: inline-block;
    padding-left: 28px;
    width: 178px;
    font-family: @item-font;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.06;
    letter-spacing: normal;
    text-align: left;
    color: #555963;
  }
  .section-title {
    font-family: @title-font;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: 0.3px;
    text-align: left;
    color: #45474b;
  }
  .avatar {
    float: left;
  }
  .author-category {
    display: block;
  }
  .categories a {
    display: block;
  }
  .categories a:hover {
    background-color: #ffbb58;
  }
}
  .main-content {
    display: inline-block;
    width: 65%;
    padding-left: 98px;
    position: relative;

    .filters {
      width: 540px;
      margin-top: 20px;
    }

    form {
      display: inline-block;
      border: none;
      border-bottom: solid 1px #555963;
      width: 328px;
      margin-bottom: 38px;
    }
    input {
      width: 307px;
      background-color: #ffffff;
      border: none;
      font-family: @item-font;
      font-size: 16px;
      font-weight: normal;
      font-style: italic;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: left;
      color: #bfbfbf;
      display: inline-block;
      padding-bottom: 15px;
    }
    .dropdown {
      display: inline-block;
      width: 145px;
      border-bottom: solid 1px #45474b;
      padding-bottom: 15px;
      background-image: url('../../images/dropdown.png');
      background-repeat: no-repeat;
      background-position: 99% 30%;

      a {
        font-family: @item-font;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: left;
        color: #45474b;
        display: block;
      }
    }
    .info-section {
      font-family: @title-font;
      font-size: 28px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.07;
      letter-spacing: 0.3px;
      text-align: left;
      color: #45474b;
      position: absolute;
      top: 30px;
      right: 0;
      width: 123px;
      z-index: 1;
    }
    .background {
      width: 98px;
      height: 147px;
      background-color: #f5fdff;
      display: block;
      position: absolute;
      top: 0;
      right: 17px;
    }
    .filter1 {
      margin-left: 33px;
    }
    .filter2 {
      margin-right: 33px;
    }
    .filter3 {
      margin-right: 33px;
    }

  }
  .catalog-bookshelf {
    padding-left: 0;
    margin-top: 70px;

    li {
      display: inline-block;
    }
    .title, .author {
      width: 140px;
    }
  }
  .catalog-bookshelf li {
    padding: 0 16px;
    display: inline-block;
    margin: 0;
    vertical-align: top;
  }
  .catalog-bookshelf ul:before {
    vertical-align: top;
  }
  .catalog-bookshelf li:nth-child(4n) {
    padding-right: 0;
  }
  .catalog-bookshelf li:nth-child(4n+1) {
    padding-left: 0;
  }

  .pagination {
      display: inline-block;
    }
    li {
      display: inline-block;
      vertical-align: middle;
      font-family: @item-font;
      font-size: 17px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.94;
      letter-spacing: normal;
      text-align: left;
      color: #555963;
      padding: 0 15px;

      &:hover {
        background-color: #ffbb58;
      }
    }
.navigation a {
  font-family: @item-font;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.06;
  letter-spacing: normal;
  text-align: left;
  color: #555963;
  display: inline-block;
}