
:focus {
	outline: none;
}
body.nonScroll {
	overflow: hidden;
}
body, .homepage {
	margin: 0;
}
.hide {
	display: none;
}
a {
	text-decoration: none;
}
h1, p, span, a {
	color: @main-color;
}
.block-title {
	text-align: center;
	font-size: 42px;
	color: @main-color;
	font-family: 'Ramaraja', serif;
	display: block;
	margin: 0 auto;
}
.button {
	background-color: white;
	margin: 30px auto;
	max-width: 190px;
	padding: 13px 0;
	display: block;
	text-align: center;
	border: 2px solid @main-color;
	font-family: 'Lato-Semibold', serif;
	font-size: 16px;
}

.title {
	font-family: 'Ramaraja', serif;
	color: @main-color;
	display: block;
	font-size: 21px;
	line-height: 23px;
	margin-bottom: 9px;

	&:hover {
		color:@font-orange;
	}
}
.author {
	color: @font-orange;
	font-family: 'Amiri', serif;
	display: inline-block;
	line-height: 1;
	font-size: 16px;

	&:hover {
		color: @main-color;
	}
}
a:hover .svg-icon path {
	fill: #ffbb58;
}
button:hover .svg-icon path {
	fill: #da8913;
}
button .svg-icon {
	padding-left: 10px;
}
.table {
	overflow-x:auto;
}
.scroll-btn {
	position: fixed;
	padding: 15px;
	border-radius: 3px;
	border: none;
	right: 2%;
	bottom: 3%;
	background-color: #45474b;
	opacity: 0.4;
	transition: background-color 2s ease-in-out;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	z-index: 1001;
	&:hover {
		opacity: 0.6;
	}
	&:focus {
		outline:none;
	}
}
.scroll-btn__icon {
	color:#ffffff;
}
.dropdown {
	display: inline-block;
	width: 146px;
	border-bottom: solid @main-color 1px;
	.cs-placeholder {
		.my-dropdown;
	}
	.cs-skin-underline .cs-options li {
		background: rgb(255, 255, 255);
	}
	.cs-select .cs-selected span::after {
		font-family: FontAwesome;
		content: '\f00c';
		opacity: 1;
		padding-left: 7px;
		-webkit-transition: opacity 0.3s 0.7s;
		transition: opacity 0.3s 0.7s;
	}
}
.book-hover {
	display: block;
	position: relative;
	cursor: pointer;
	margin-bottom: 29px;
}
.book-overlay {
	position: absolute;
	display: block;
	opacity: 0;
	width: 100%;
	height: 99%;
	background-color: transparent;
	transition: all 0.5s ease-out;

	&:hover {
		opacity: 0.94;
		background-color: rgb(255, 187, 88);
		a {
			top: 31px;
			visibility: visible;

			&:nth-child(2) {
				left: 21px;
			}
			&:nth-child(3) {
				left: 84px;
			}
		}
	}
	span {
		display: block;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 86%;
		left: 8%;
		background: none;
		border: none;
		font-family: @text-font;
		color: #555963;
		font-size: 23px;
		opacity: 1;

	}
	a {
		position: absolute;
		left: 44px;
		top: 0;
		transition: top 0.5s linear, left 0.5s linear;
		visibility: hidden;

		&:nth-child(2) {
			left: 0;
			top: 101px;

		}
		&:nth-child(3) {
			left: 105px;
			top: 104px;

		}
	}
}
.bio a {
	font-size: 21px;
	font-family: 'Ramaraja', serif;
	color: #555963;
	vertical-align: top;
	padding-right: 42px;
	display: inline-block;
}
.bio span {
	font-size: 15px;
	font-family: 'Lato', serif;
	color: #555963;
	line-height: 1.533;
	display: inline-block;
	margin: 0 0 18px 0;
}
.return a {
	border-bottom: 2px solid @main-color;
	display: inline-block;
	font-family: 'Lato',serif;
	font-size: 16px;
	line-height: 33px;

	&:hover {
		color: #eaad54;
		border-color: #eaad54;
	}
}
.search {
	display: inline-block;
	border: none;
	border-bottom: solid 1px #555963;
	width: 338px;
	margin-bottom: 38px;

	input {
		width: 307px;
		background-color: #ffffff;
		border: none;
		font-family: @item-font;
		font-size: 16px;
		font-weight: normal;
		font-style: italic;
		font-stretch: normal;
		letter-spacing: normal;
		text-align: left;
		color: #bfbfbf;
		display: inline-block;
		padding-bottom: 15px;
	}
}
.return a {
	font-family: 'Lato-Medium', serif;
}
@media (min-width: 1861px) {
	.dropdown li {
		padding: unset;
	}
}