
:focus {
	outline: none;
}
body.nonScroll {
	overflow: hidden;
}
body {
	margin: 0;
}
.homepage {
	margin: 0;
}
.hide {
	display: none;
}
a {
	color: @main-color;
	text-decoration: none;
}
h1, p, span {
	color: @main-color;
}
.block-title {
	text-align: center;
	font-size: 42px;
	color: @main-color;
	font-family: @title-font;
	display: block;
	margin: 0 auto;
}
.button {
	background-color: white;
	margin: 30px auto;
	max-width: 190px;
	padding: 13px 0;
	display: block;
	text-align: center;
	border: 2px solid @main-color;
	font-family: @item-font;
	font-size: 16px;
}
.book-hover {
	margin-bottom: 29px;
}
.title {
	font-family: @title-font;
	color: @main-color;
	display: block;
	font-size: 21px;
	line-height: 23px;
	margin-bottom: 9px;

	&:hover {
		color:@font-color;
	}
}
.author {
	color: @font-color;
	font-family: 'Amiri', serif;
	display: inline-block;
	line-height: 1;
	font-size: 16px;

	&:hover {
		color: @main-color;
	}
}
a:hover .svg-icon path {
	fill: #ffbb58;
}
button:hover .svg-icon path {
	fill: #da8913;
}
button .svg-icon {
	padding-left: 10px;
}
.table {
	overflow-x:auto;
}


