@import '../node_modules/slick-carousel/slick/slick';
@import 'variables.less';
@import 'general.less';
@import 'header.less';
@import 'footer.less';
@import 'cart.less';
@import 'billing-cart.less';
@import 'popup.less';
@import 'article.less';
@import 'bookshelf.less';
@import 'contact.less';

.slider1 {
	padding: 0;
	margin: 0;
	list-style-type: none;
	width: 100%;
}
.slide-item {
	background-color: @bg-color;
	height: 851px;
	padding-top: 216px;
	display: block;
	width: 100%;
	left: 1px;
	top: 1px;

	&:after {
		content: '';
		display: table;
		clear: both;
	}
}
.slide-book {
	display: inline-block;
	margin-left: 14.3%;

	&:after {
		content: '';
		display: table;
		clear: both;
	}
}
.slide-book_back {
	position: relative;
	float: left;

	img {
		display: block;
	}
}
.slide-book_cover {
	position: absolute;
	top: 67px;
	left: 55px;
	box-shadow: 0 27px 45px 2px rgba(23, 39, 43, 0.54);

	img {
		display: block;
	}
}
.slide-book_genre {
	position: absolute;
	top: -9px;
	right: -9px;
	max-width: 190px;
	background-color: white;
	padding: 7px 15px;
	border: 2px solid @font-color;
	font-size: 16px;
	font-family: @item-font;
	line-height: 1;
}
.desc {
	width: 44%;
	padding-top: 120px;
	float: right;
	display: inline-block;
	margin-right: 60px;

	.slide-title {
		top: 129px;
		max-width: 432px;
		line-height: 1;
		font-family: @title-font;
		font-weight: bold;
		font-size: 57px;
		display: block;
	}
}
.description {
	width: 400px;
	font-size: 23px;
	font-family: @text-font;

	.author {
		top: 260px;
		color: @font-color;
		width: fit-content;
		font-family: 'Amiri', serif;
		font-size: 21px;
		line-height: 58px;
		display: inline-block;

		&:after {
			content: '';
			width: 1px;
			height: 20px;
			display: inline-block;
			background: @main-color;
			margin: 20px;
			vertical-align: middle;
		}
	}
	span {
		top: 260px;
	}
	img {
		display: inline-block;
	}
	a {
		font-size: 38px;
	}
	p {
		top: 333px;
		width: 400px;
		margin: 54px 0 80px;
	}
}
.slick-arrow {
	position: absolute;
	top: 510px;
	width: 32px;
	height: 30px;
	line-height: 50px;
	margin: 0;
	text-align: center;
	z-index: 3;
	cursor: pointer;
	padding: 0;
	border: none;
}
.slick-prev {
	left: 141px;
	right: auto;
	background: url('/images/arrow_left.png') no-repeat;
}
.slick-next {
	right: 152px;
	left: auto;
	background: url('/images/arrow_right.png') no-repeat;
}
#prev-slide {
	font-size: 25px;
	font-family: @text-font;
	color: rgb(85, 89, 99);
	font-weight: 600;
	line-height: 1.28;
	position: absolute;
	left: 138px;
	top: 641px;
	z-index: 100;
}
#next-slide {
	font-size: 25px;
	font-family: @text-font;
	color: rgb(85, 89, 99);
	font-weight: 600;
	line-height: 1.28;
	position: absolute;
	right: 157px;
	top: 641px;
	z-index: 100;
}
.slick-dotted .slick-slider {
	margin-bottom: 30px;
}
.slick-dots {
	position: absolute;
	bottom: -25px;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	margin: 0;
	width: 100%;
	li {
		position: relative;
		display: inline-block;
		height: 20px;
		width: 20px;
		margin: 0 5px;
		padding: 0;
		cursor: pointer;
		button {
			border: 0;
			background: transparent;
			display: block;
			width: 13px;
			height: 13px;
			outline: none;
			line-height: 0;
			font-size: 0;
			color: transparent;
			padding: 5px;
			cursor: pointer;
			&:hover, &:focus {
				outline: none;
				&:before {
					opacity: 1;
				}
			}
			&:before {
				position: absolute;
				top: 0;
				left: 0;
				border: 1px solid rgb(85, 89, 99);
				border-radius: 50%;
				content:'';
				width: 13px;
				height: 13px;
				opacity: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
		&.slick-active button:before {
			background-color: rgb(85, 89, 99);
			opacity: 1;
		}
	}
}
.table1 {
	height: 465px;
}
.col1, .col2 {
	position: relative;
	background-color: @bg-color;
	width: 533px;
	height: 212px;
	display: inline-block;
	margin-top: 125px;
	margin-bottom: 122px;
}
.col1 {
	float: left;
	margin-left: 153px;
	.title  {
		position: absolute;
		font-size: 26px;
		top: 36px;
		left: 32px;
		max-width: 249px;
	}
	.author {
		position: absolute;
		top: 74px;
		left: 32px;
		font-size: 18px;
	}
	span {
		position: absolute;
		top: 74px;
		left: 132px;
	}
	a img {
		position: absolute;
		top: -18px;
		right: 37px;
	}
}
.col2 {
	float: right;
	margin-right: 153px;
	.title  {
		position: absolute;
		font-size: 26px;
		top: 36px;
		left: 32px;
		max-width: 249px;
	}
	a img {
		position: absolute;
		top: -34px;
		right: 39px;
	}
}
.catalog {
	width: 1200px;
	margin: 0 auto 93px;
	.dropdown {
		font-family: @item-font;
		font-size: inherit;
		margin-left: 360px;
		color: @main-color;
		opacity: 0.6;
		padding-bottom: 15px;
		border-bottom: solid rgba(0,0,0,0.1) 1px;
		background: url(/images/dropdown.png) 63px 9px no-repeat;
		&:hover {
			color: @main-color;
			opacity: 1.0;
			padding-bottom: 15px;
			border-bottom: solid @main-color 1px;
		}
		a {
			display: inline-block;
			width: 77px;

			&:hover {
				color: @main-color;
				opacity: 1.0;
				padding-bottom: 15px;
				border-bottom: solid @main-color 1px;
			}
		}
	}
}
.catalog-menu {
	margin-right: 0;
	padding-bottom: 15px;
	padding-left: 0;
	margin-left: 40px;
	border-bottom: solid rgba(0,0,0,0.1) 1px;
	display: inline-block;
	li {
		padding: 0 15px;
		display: inline-block;
		margin: 0;
		vertical-align: middle;
	}
	a {
		font-family: @item-font;
		color: @main-color;
		opacity: 0.6;

		&:hover {
			color: @main-color;
			opacity: 1.0;
			padding-bottom: 15px;
			border-bottom: solid @main-color 1px;
		}
	}
}
.book-hover {
	display: block;
	position: relative;
	cursor: pointer;
}
.book-overlay {
	position: absolute;
	display: block;
	opacity: 0;
	width: 100%;
	height: 99%;
	background-color: transparent;
	transition: all 0.5s ease-out;

	&:hover {
		opacity: 0.94;
		background-color: rgb(255, 187, 88);
		a {
			top: 31px;
			visibility: visible;

			&:nth-child(2) {
				left: 21px;
			}
			&:nth-child(3) {
				left: 84px;
			}
		}
	}
	span {
		display: block;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 86%;
		left: 8%;
		background: none;
		border: none;
		font-family: @text-font;
		color: #555963;
		font-size: 23px;
		opacity: 1;

	}
	a {
		position: absolute;
		left: 44px;
		top: 0;
		transition: top 0.5s linear, left 0.5s linear;
		visibility: hidden;

		&:nth-child(2) {
			left: 0;
			top: 101px;

		}
		&:nth-child(3) {
			left: 105px;
			top: 104px;

		}
	}
}
.catalog-images li {
	padding: 0 20px;
	display: inline-block;
	margin: 0;
	vertical-align: top;
}
.catalog-menu li:nth-child(1) {
	padding-left: 0;
}
.catalog-menu li:nth-child(6) {
	padding-right: 0;
}
.catalog-images ul:before {
	vertical-align: top;
}
.catalog-images li:nth-child(6n) {
	padding-right: 0;
}
.catalog-images li:nth-child(6n+1) {
	padding-left: 0;
}
.catalog-images .title, .author {
	width: 140px;
}
.catalog-images .title {
	vertical-align: top;
	padding-bottom: 0;
	line-height: 23px;
}
.catalog-images .author {
	padding-bottom: 34px;
}
.slider2 {
	background-color: @bg-color;
	height: 722px;
	margin-top: 112px;
	.block-title {
		padding-top: 80px;
		padding-bottom: 56px;
		margin: 0 auto;
		font-size: 42px;
		color: @title-color;
		font-family: @title-font;
		width: fit-content;
	}
	.about {
		font-size: 17px;
		color: @font-color;
		width: 175px;
		letter-spacing: 1.5px;
		text-align: right;
		line-height: 22px;
		position: relative;
		display: inline-block;

		&:after{
			content: '';
			height: 57px;
			width: 1px;
			background: rgba(85, 89, 99, 0.2);
			display: inline-block;
			position: absolute;
			left: 177px;
			top: 5px;
			margin-left: 5px;
		}
	}
	.nav-link.is-active {
		opacity: 1;
		border-bottom: solid 1px @main-color;
		padding-bottom: 15px;
	}
	.nav-tab.is-active {
		display: block;
	}
	.nav-tab {
		display: none;
	}
}
.slider2-menu {
	margin: 0 auto;
	width: 1100px;
	padding-bottom: 15px;
	border-bottom: solid rgba(0,0,0,0.1) 1px;
	li {
		padding: 0 15px;
		display: inline-block;
		margin: 0;
		vertical-align: middle;
	}
	li:nth-child(1) {
		padding-left: 35px;
	}
	.nav-link {
		font-family: @item-font;
		color: @main-color;
		opacity: 0.6;

		&:hover, &:active {
			opacity: 1.0;
			padding-bottom: 15px;
			border-bottom: solid 1px @main-color;
		}
	}
}
.slider2-content {
	width: 1130px;
	margin: 0 auto;
	padding-top: 70px;
	img {
		display: inline-block;
	}
	a {
		display: block;
	}
	.image {
		padding: 0 60px;
	}
}
.slider2-info {
	float: left;
	position: relative;
	span{
		position: absolute;
		top: 71px;
		right: 4px;
		font-size: 23px;
		font-family: @text-font;
	}
}
.slider2-about {
	width: 444px;
	float: right;
	.text a {
		font-size: 21px;
		font-family: @title-font;
		line-height: 21px;
		letter-spacing: 1px;
	}
	.text p {
		font-size: 21px;
		font-family: @text-font;
		line-height: 29px;
		margin-bottom: 52px;
		margin-top: 39px;
	}
}
.slider2-title {
	font-size: 28px;
	font-family: @title-font;
	color: @main-color;
	display: block;
}
.quotation {
	width: 243px;
	text-align: right;
	line-height: 29px;
	font: italic bold 18px'PT serif', serif;
	position: relative;
	background: url(/images/quotes.png) 223px 0 no-repeat;

	&:before{
		content: '';
		height: 1px;
		width: 215px;
		background: rgba(85, 89, 99, 0.2);
		display: inline-block;
		margin-bottom: 10px;
		margin-right: 25px;
	}
}
.slider2-books img {
	padding: 0 7px;
	margin-bottom: 43px;
	margin-top: 44px;
}
.slider2-books img:nth-child(1) {
	padding-left: 0;
}
.slider2-books a {
	display: inline-block;
}
.link-author {
	font-family: @item-font;
	font-size: 16px;
	border-bottom: solid 1px @main-color;
	width: 137px;
	padding-bottom: 5px;
}
.table-news {
	width: 1174px;
	margin: 150px auto 0;

	&:after {
		content: '';
		width: 1210px;
		height: 1px;
		color: @main-color;
		opacity: 0.4;
	}
	.block-title {
		text-align: center;
		font-size: 42px;
		color: @main-color;
		font-family: @title-font;
		display: block;
		margin: 0 auto 65px;
	}
	.article {
		display: inline-block;
		vertical-align: top;
		padding: 0 20px;
	}
	.title {
		width: 322px;
		font-size: 27px;
		font-family: @title-font;
		color: @main-color;
		line-height: 30px;
		padding: 35px 0 16px;
	}
	.author {
		font-size: 18px;
		line-height: 22px;
	}
}
.articles {
	&:before, &:after{
		content: '';
		width: 1174px;
		height: 1px;
		background: rgba(85, 89, 99, 0.5);
		display: inline-block;
		margin: 55px 0;
	}
	.article {
		display: inline-block;
	}
	.title {
		width: 250px;
		font-size: 19px;
	}
}
.slider3 {
	height: 632px;
	background-color: @bg-color;
	margin: 121px 0;
}
.slick-slide img {
	display: inline-block;
}
.slider3-content {
	position: relative;
	overflow: hidden;
	height: 632px;
}
.author-photo {
	position: absolute;
	left: -248px;
	z-index: 9;
}
.slider3-cover {
	position: absolute;
	z-index: 10;
	top: 72px;
	left: 539px;
	box-shadow: 0 13px 19px 0 rgba(15, 52, 61, 0.3);
}
.slider3-label {
	position: absolute;
	z-index: 11;
	top: 43px;
	left: 554px;
	p {
		position: absolute;
		z-index: 12;
		top: 14px;
		left: 13px;
		font-family: 'Amiri',serif;
		font-size: 17px;
		color: #eaad54;
		width: min-content;
		text-align: center;
		margin: 0;
		span {
			font-family: @item-font;
			font-size: 12px;
			color: #555963;
		}
	}
}
.slider3-about {
	position: absolute;
	right: 117px;
	top: 80px;
	max-width: 377px;
	max-height: 363px;
	.block-title {
		font-family: @title-font;
		font-size: 42px;
		text-align: left;
		line-height: 1;
	}
	p, span {
		font-family: @text-font;
		font-size: 21px;
	}
	.author {
		display: inline-block;
		width: fit-content;
		font-size: 21px;
		&:after {
			content: '';
			width: 1px;
			height: 20px;
			display: inline-block;
			background: @main-color;
			margin: 20px;
			vertical-align: middle;
		}
	}
}
.table3 {
	margin: 0 auto 102px;
	width: 1134px;
	position: relative;
	img{
		width: 100%;
	}
	.discount-catalog {
		position: relative;
	}
}
.table3-container {
	width: 49%;
	position: absolute;
	top: 196px;
	right: 291px;

	.block-title {
		padding-bottom: 33px;
	}
	.table3-desc {
		text-align: center;
		width: 100%;
		p {
			margin: 0 auto;
			width: 311px;
			font-family: @text-font;
			font-size: 21px;
			padding-bottom: 54px;
		}
	}
	.table3-prices {
		text-align: center;
		width: 370px;
		margin: 0 auto;
		padding-bottom: 46px;

		&:after, &:before {
			content: '';
			width: 100%;
			height: 1px;
			background: rgb(85, 89, 99);
			display: inline-block;
			margin: 5px;
		}
		a {
			font-family: 'Amiri', serif;
			font-size: 16px;
			color: #dd9327;
		}
	}
}
.slider4 {
	width: 1123px;
	margin: 0 auto;
}
.tab1, .tab2, .tab3, .tab4 {
	background-color: @bg-color;
	width: 246px;
	height: 314px;
	display: inline-block;
	position: relative;
	vertical-align: top;
	margin: 100px 0 72px 33px;
}
.tab1 a, .tab2 a, .tab3 a, .tab4 a {
	position: absolute;
	top: 225px;
	left: 33px;
	font-family: @title-font;
	font-size: 23px;
}
.tab1 span, .tab2 span, .tab3 span, .tab4 span {
	position: absolute;
	top: 255px;
	left: 33px;
	font-family: @title-font;
	font-size: 23px;
}
.tab1 img, .tab2 img, .tab3 img, .tab4 img {
	position: absolute;
}
.thrd-pic {
	top: -9px;
	left: 33px;
	box-shadow: 0 5px 8px 2px rgba(15, 52, 61, 0.45);
}
.scnd-pic {
	top: -49px;
	left: 46px;
	box-shadow: 0 13px 22px 2px rgba(15, 52, 61, 0.42);
}
.frst-pic {
	top: -84px;
	left: 57px;
	box-shadow: 0 22px 39px 2px rgba(15, 52, 61, 0.36);
}
.book-icon {
	top: 8px;
	left: 24px;
	box-shadow: 0 0 0 0;
}
.publishers {
	width: 1210px;
	margin: 118px auto;

	.p-title {
		text-align: left;
	}
}
.p-info {
	display: inline-block;
	width: 325px;
	text-align: left;
	h2 {
		text-align: left;
	}
	.button {
		margin-left: 0;
	}
}
.p-icons {
	float: right;
	width: 880px;
	a {
		margin: 5px 61px;
		display: inline-block;
		vertical-align: middle;
	}
	img {
		max-width: 100px;
		max-height: 100px;
	}
}
.slide-book_back img, .slide-book_cover img {
	display: block;
}
@media all and (max-width: 1400px) {
	.col1 {
		margin-left: 10%;
	}
	.col2 {
		margin-right: 10%;
	}
	.col1, .col2 {
		width: 489px;
	}
	.author-photo {
		left: -289px;
	}
	.slider3-about {
		right: 142px;
	}
	.slider3-cover {
		left: 438px;
	}
	.slider3-label {
		left: 454px;
	}
}
@media all and (max-width: 1024px) {
	.slide1 {
		width: 100%;
		padding-bottom: 100px;
	}
	.slide-book {
		width: 35%;
		margin: 0 0 0 85px;
	}
	.slide-book_back, .slide-book_cover, .description, .description p {
		width: 100%;
	}
	.slide-book_back img, .slide-book_cover img {
		width: 100%;
	}
	.slide-book_cover {
		top: 57px;
		left: 50px;
	}
	.desc {
		width: 35%;
		padding-top: 57px;
	}
	.slide-title {
		font-size: 45px;
	}
	.slick-prev {
		left: 29px;
	}
	.slick-next {
		right: 44px;
	}
	#next-slide, #prev-slide {
		display: none;
	}
	.table1 {
		width: 100%;
		margin-top: 100px;
	}
	.col1, .col2 {
		width: 33%;
		height: 337px;
	}
	.col1 {
		margin-left: 53px;
	}
	.col1 .title {
		position: absolute;
		font-size: 26px;
		top: 253px;
		left: 32px;
	}
	.col1 .author {
		position: absolute;
		top: 283px;
		left: 32px;
		font-size: 18px;
	}
	.col1 span {
		position: absolute;
		top: 283px;
		left: 132px;
	}
	.col1 a img {
		position: absolute;
		top: -31px;
		right: 46px;
	}
	.col2 {
		margin-right: 53px;
	}
	.col2 .title {
		position: absolute;
		font-size: 26px;
		top: 253px;
		left: 32px;
	}
	.col2 .author {
		position: absolute;
		top: 283px;
		left: 32px;
		font-size: 18px;
	}
	.col2 a img {
		position: absolute;
		top: -31px;
		right: 46px;
	}
	.catalog {
		width: 100%;

		.block-title {
			text-align: center;
			font-size: 42px;
			color: #45474b;
			font-family: @title-font;
			display: block;
			margin: 65px auto;
		}
		.dropdown {
			margin-left: 206px;
		}
	}
	.catalog span {
		margin-left: 0;
	}
	.catalog-menu {
		margin-left: 55px;
	}
	.catalog-images li {
		padding: 0 22px;
	}
	.book-item {
		&:hover {
			width: 100%;
			height: 100%;
			background-color: rgba(255, 187, 88, 0.94);
		}
	}
	.catalog-images li:nth-child(6n+1) {
		padding-left: 22px;
	}
	.catalog-images li:nth-child(6n) {
		padding-right: 22px;
		padding-left: 22px;
	}
	.slider2 {
		padding: 0 10px;
	}
	.slider2-menu {
		width: 100%;
		padding-left: 0;
	}
	.slider2-menu li {
		padding: 0 7px;
	}
	.slider2-content {
		width: 100%;
	}
	.slider2-content .image {
		padding: 0 40px;
	}
	.slider2-about {
		width: 37%;
	}
	.author-photo {
		left: -412px;
	}



	.slider3-cover {
		left: 315px;
	}
	.slider3-label {
		left: 293px;
	}
	.slider3-about {
		right: 0;
	}
	.table-news {
		width: 95%
	}
	.table-news .article {
		width: 30%;
		padding: 0 10px;
	}
	.table-news .article img {
		width: 100%;
	}
	.table-news .title {
		width: 100%;
		font-size: 21px;
	}
	.articles {
		width: 100%;

		&:before {
			content: '';
			width: 100%;
			height: 1px;
			background: rgba(85, 89, 99, 0.5);
			display: inline-block;
			margin: 55px 0;
		}
		&:after {
			content: '';
			width: 100%;
			height: 1px;
			background: rgba(85, 89, 99, 0.5);
			display: inline-block;
			margin: 55px 0;
		}
	}
	.articles .article {
		width: 44%;
		padding: 0 17px;
	}
	.articles .title {
		width: 100%;
	}
	.table3 {
		width: 98%;
	}
	.table3-container {
		top: 182px;
		right: 332px;
	}
	.table3-prices {
		padding-bottom: 47px;
	}
	.slider4 {
		width: 100%;
	}
	.thrd-pic {
		top: -9px;
		left: 23px;
		box-shadow: 0 5px 8px 2px rgba(15, 52, 61, 0.45);
	}
	.scnd-pic {
		top: -49px;
		left: 36px;
		box-shadow: 0 13px 22px 2px rgba(15, 52, 61, 0.42);
	}
	.frst-pic {
		top: -84px;
		left: 47px;
		box-shadow: 0 22px 39px 2px rgba(15, 52, 61, 0.36);
	}
	.book-icon {
		top: 8px;
		left: 24px;
		box-shadow: 0 0 0 0;
	}
	.publishers {
		width: 100%;
		height: 362px;
	}
	.p-info {
		margin-left: 17px;
	}
	.p-info .block-title {
		text-align: left;
	}
	.p-icons {
		width: 66%;
	}
}
@media all and (max-width: 1000px) {
	.slide1 {
		width: 100%;
		height: 73vh;
	}
	.slide-item {
		height: 710px;
	}
	.slide-book {
		width: 40%;
		margin-left: 0;
	}
	.slide-book_cover {
		top: 43px;
		left: 32px;
	}
	.description p {
		width: 93%;
		margin: 35px 0;
	}
	.desc {
		width: 40%;
		padding: 0;
		margin: 0;
	}
	.slide-title {
		font-size: 33px;
	}
	#next-slide, #prev-slide {
		display: none;
	}
	.table1 {
		width: 100%;
	}
	.col1, .col2 {
		width: 33%;
		height: 337px;
	}
	.col1 {
		margin-left: 53px;
		.title {
			position: absolute;
			font-size: 26px;
			top: 253px;
			left: 32px;
		}
		.author {
			position: absolute;
			top: 283px;
			left: 32px;
			font-size: 18px;
		}
		span {
			position: absolute;
			top: 283px;
			left: 132px;
		}
		a img {
			position: absolute;
			top: -31px;
			right: 46px;
		}
	}
	.col2 {
		margin-right: 53px;

		.title {
			position: absolute;
			font-size: 26px;
			top: 253px;
			left: 32px;
		}
		.author {
			position: absolute;
			top: 283px;
			left: 32px;
			font-size: 18px;
		}
		a img {
			position: absolute;
			top: -31px;
			right: 46px;
		}
	}
	.catalog {
		width: 100%;
		.block-title {
			text-align: center;
			font-size: 42px;
			color: @main-color;
			font-family: @title-font;
			display: block;
			margin: 0 auto 65px;
		}
		span {
			display: none;
		}
	}
	.catalog-menu {
		margin-left: 55px;
	}
	.catalog-images li {
		padding: 0 10px;
	}
	.catalog-images li:nth-child(6n) {
		padding-right: 10px;
	}
	.catalog-images li:nth-child(6n+1) {
		padding-left: 10px;
	}
	.slider2 {
		height: 1322px;

		.slider2-info {
			float: none;
			display: inline-block;
			position: relative;
			left: 41px;
		}
		.slider2-menu li {
			padding: 6px 20px;
		}
		.slider2-content .image {
			float: right;
		}
		.slider2-about {
			width: 100%;
		}
		.nav-link.is-active {
			border: none;
		}
	}
	.table-news {
		width: 95%;
		.article {
			width: 30%;
			padding: 0 10px;
			img {
				width: 100%;
			}
		}
		.title {
			width: 100%;
			font-size: 21px;
		}
	}
	.articles {
		width: 100%;

		&:before {
			content: '';
			width: 100%;
			height: 1px;
			background: rgba(85, 89, 99, 0.5);
			display: inline-block;
			margin: 55px 0;
		}
		&:after {
			content: '';
			width: 100%;
			height: 1px;
			background: rgba(85, 89, 99, 0.5);
			display: inline-block;
			margin: 55px 0;
		}
		.article {
			width: 44%;
			padding: 0 17px;
		}
		.title {
			width: 100%;
		}
	}
	.slider3 {
		.author-photo {
			display: none;
		}

		.slider3-cover {
			left: 20px;
		}
	}
	.table3 {
		width: 100%;
		margin-top: 100px;
	}

	.table3-prices {
		padding-bottom: 0;
	}
	.table3-container {
		top: 99px;
		right: 197px;
		.block-title {
			padding-bottom: 36px;
		}
	}
	.table3-desc p {
		padding-bottom: 62px;
	}
	.tab1, .tab2, .tab3, .tab4 {
		margin-left: 4px;
	}
	.thrd-pic {
		top: -9px;
		left: 33px;
		box-shadow: 0 5px 8px 2px rgba(15, 52, 61, 0.45);
	}
	.scnd-pic {
		top: -49px;
		left: 46px;
		box-shadow: 0 13px 22px 2px rgba(15, 52, 61, 0.42);
	}
	.frst-pic {
		top: -84px;
		left: 57px;
		box-shadow: 0 22px 39px 2px rgba(15, 52, 61, 0.36);
	}
	.book-icon {
		top: 8px;
		left: 24px;
		box-shadow: 0 0 0 0;
	}
	.p-icons {
		display: none;
	}
}
@media all and (max-width: 733px) {
	.slide-item {
		padding-top: 156px;
		height: fit-content;
		margin-bottom: 20px;
	}
	.slide-book {
		width: 81%;
		margin-left: 15px;
	}
	.desc {
		width: 91%;
		float: none;
		margin: 0 auto;
		display: block;
		padding-top: 30px;

		.slide-title {
			font-size: 40px;
		}
	}

	.table-news .article {
		padding: 0 9px;
	}
	.slider3-label {
		left: 267px;
	}
	.table3-container {
		right: 176px;

		.block-title {
			padding-bottom: 20px;
		}
		.table3-desc p {
			padding-bottom: 32px;
		}

		.table3-prices {
			width: 100%;
			padding-bottom: 21px;
		}
	}
	.tab1, .tab2, .tab3, .tab4 {
		width: 90%;
	}
	.tab1 a, .tab2 a, .tab3 a, .tab4 a {
		width: min-content;
		line-height: 1;
	}
	.tab1 span, .tab2 span, .tab3 span, .tab4 span {
		top: 272px;
	}
}
@media all and (max-width: 640px) {
	.col1 a img {
		right: 25px;
	}
	.col1 .author {
		top: 305px
	}
	.col1 span {
		top: 300px;
	}
	.col2 a img {
		right: 16px;
	}
	.catalog-menu li {
		padding: 0 8px;
	}
	.catalog-images li {
		padding: 0 16px;
	}
	.table-news .article {
		padding: 0 8px;
	}
	.table3-container {
		top: 70px;
		right: 163px;
		width: 49%;

		.block-title {
			padding-bottom: 21px;
		}
	}
	.table3-desc, .table3-desc p, .table3-prices {
		width: 100%;
	}
	.table3-desc p {
		padding-bottom: 38px;
	}
}
@media all and (max-width: 425px) {

	.table1 {
		margin-top: 0;
	}

	.col1 {
		width: 100%;
		margin: 146px 0;
		height: 212px;

		.title {
			position: absolute;
			font-size: 26px;
			top: 36px;
			left: 32px;
		}
		.author {
			position: absolute;
			top: 74px;
			left: 32px;
			font-size: 18px;
		}
		span {
			top: 71px;
			left: 132px;
		}
		a img {
			position: absolute;
			top: -18px;
			right: 37px;
		}
	}

	.col2 {
		width: 100%;
		margin: 46px 0 95px;
		height: 212px;
		.title {
			position: absolute;
			width: 187px;
			font-size: 26px;
			left: 32px;
			top: 32px;
		}
		a img {
			position: absolute;
			top: -34px;
			right: 32px;
		}
	}

	.catalog-menu {
		display: none;
	}

	.catalog-images {
		padding: 0;
	}

	.catalog-images li {
		padding: 0 22px;
	}

	.catalog-images li:nth-child(6n+1) {
		padding-left: 22px;
	}

	.slider2 {
		height: 1722px;

		.block-title {
			padding: 30px 0;
		}
		.slider2-menu li {
			padding: 6px 11px;
		}
		.slider2-info {
			width: 100%;
			left: 0;
			span {
				right: 100px;
			}
		}
		.about {
			left: 76px;
		}
		.quotation {
			width: 87%;
			background: url(/images/quotes.png) 266px 0 no-repeat;
			margin: 22px auto;
		}
		.slider2-about .text a {
			margin-top: 39px;
		}
	}
	.table-news .article {
		width: 100%;
		padding: 0;
	}
	.article .author {
		padding-bottom: 35px;
	}
	.articles .author {
		padding-bottom: 0;
	}
	.slider3 {
		height: 468px;
	}
	.slider3-content {
		width: 100%;
		.slider3-about {
			width: 90%;
		}
		.slider3-cover {
			display: none;
		}
		.slider3-label {
			display: none;
		}
	}
	.table3 {
		display: none;
	}
	.tab1, .tab2, .tab3, .tab4 {
		margin: 90px;
	}
	.publishers {
		height: auto;
	}
	.p-icons {
		float: none;
		width: 100%;
		a {
			margin: 5px 54px;
		}
	}
}
@media all and (max-width: 414px) {

	.col1 .title {
		width: 152px;
		margin-bottom: 9px;
	}
	.col1 .author {
		top: 97px;
	}
	.col1 span {
		top: 92px;
	}
	.col2 .title {
		width: 152px;
	}
}
@media all and (max-width: 375px) {
	.table1 {
		margin-top: 0;
	}
	.col1 .title {
		width: 40%;
		left: 18px;
	}
	.col1 .author {
		top: 114px;
		left: 18px;
	}
	.col1 a img {
		right: 15px;
	}
	.col1 span {
		top: 114px;
	}
	.col2 {
		margin: 0 0 95px;
	}
	.col2 .title {
		width: 38%;
		left: 18px;
	}
	.col2 a img {
		right: 15px;
	}
	.catalog-images li:nth-child(6n+1) {
		padding-left: 13px;
	}
	.catalog-images li {
		padding: 0 13px;
	}
	.tab1, .tab2, .tab3, .tab4 {
		margin: 65px;
	}
}
@media all and (max-width: 320px) {
	.table1 {
		margin-top: 0;
	}
	.col1 a img {
		width: 37%;
		top: 12px;
		right: 14px;
	}
	.col2 .title {
		width: 47%;
	}
	.col2 a img {
		width: 40%;
		top: 9px;
		right: 14px;
	}
	.catalog-images li:nth-child(6n+1) {
		padding-left: 6px;
	}
	.catalog-images li:nth-child(6n) {
		padding-right: 6px;
		padding-left: 0;
	}
	.catalog-images li {
		padding: 0 6px;
	}
	.slider2 {
		height: 1874px;
		.about {
			left: 21px;
		}
		.slider2-info span {
			right: 23px;
		}
		.slider2-content .image {
			float: none;
			padding: 0;
		}
		.slider2-books img {
			margin: 20px 0;
		}
	}
	.thrd-pic {
		left: 30px;
	}
	.scnd-pic {
		left: 48px;
	}
	.frst-pic {
		left: 65px;
	}
	.p-info {
		padding-left: 17px;
		width: auto;
		margin:0;
	}
	.p-icons {
		display: none;
	}
	.publishers {
		height: auto;
		margin: 42px auto 0;
	}
	.tab1, .tab2, .tab3, .tab4 {
		margin: 89px 16px;
	}
}
