body.nonScroll {
	overflow: hidden;
}
a {
	color: #45474b;
	text-decoration: none;
}
h1, p, span {
	color: #45474b;
}
.block-title {
	text-align: center;
	font-size: 42px;
	color: #45474b;
	font-family: 'Ramaraja', serif;
	display: block;
	margin: 0 auto;
}

.button {
	background-color: white;
	margin: 30px auto;
	max-width: 190px;
	padding: 13px 0px;
	display: block;
	text-align: center;
	border: 2px solid #45474b;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}
.title {
	font-family: 'Ramaraja', serif;
	color: #45474b;
	display: block;
}
.author {
	color: #da8913;
	font-family: 'Amiri', serif;
	display: block;
}
.author:hover {
	color: #45474b;
}
.title:hover {
	color:#da8913;
}
.homepage {
	margin: 0;
}
.header {
	background-color: white;
    box-shadow: 0 3px 7px 2px  rgba(16, 45, 53, 0.25);
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px 35px;
    width: 80%;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
    font-size: 14px;
    vertical-align: middle;
    position: fixed;
    z-index: 500;
    right: 0;
    left: 0
}
.header-nav .profie-link {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	overflow: hidden;
}
.logo {
	display: inline-block;
	vertical-align: middle;

}
.header-menu {
	text-transform: uppercase;
	vertical-align: middle;
	list-style: none;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    line-height: 28px;
    width: 771px;
    position: relative;
    padding-left: 0px;

}
.header-menu li {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    padding: 0 15px;
}

.header-menu li a:hover {
    	color:#da8913;
    	border-bottom: 2px solid #da8913;
}

.header-icons-container li {
    display: inline-block;
    vertical-align: middle;
}
.header-icons-container {
    list-style: none;
    vertical-align: middle;
 	float: right;
 	margin-top: 5px;
 	margin-bottom: 0;
 	height: 39px;
 	padding-left: 0px;

}

.header-icons-container li{
    margin: 0 0;
    vertical-align: middle;
    padding: 0 15px;
    line-height: 28px;
    margin: 0;
}

ul:before, li {
	vertical-align: middle;
}








.slide-book {
	display: inline-block;
	width: 29%;
    margin-left: 13.3%;

}
.slide-book:after {
	content: '';
	display: table;
	clear: both;
}
.slide-book_back {
	position: relative;
	width: 45%;
	float: left;

}
.slide-book_cover {
    position: absolute;
    top: 67px;
    left: 80px;
    box-shadow: 0px 27px 45px 2px rgba(23, 39, 43, 0.54);
}
.slide-book_cover img {
    display: block;

}
.slide-book_genre {
	position: absolute;
    top: -9px;
    right: -9px;
    max-width: 190px;
    background-color: white;
    padding: 7px 15px;
    border: 2px solid;
    border-color: #da8913;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    line-height: 1;
}
.desc {
	width: 44%;
	padding-top: 120px;
    float: right;
    display: inline-block;

}
.slide-title {
	top: 129px;
	width: 530px;
	line-height: 1;
	font-family: 'Ramaraja', serif;
	font-weight: bold;
	font-size: 57px;
}
.description .author {
	top: 260px;
	color: #da8913;
	width: fit-content;
    font-family: 'Amiri', serif;
    font-size: 21px;
    line-height: 58px;
    display: inline-block;
}
.description .author:after {
	content: '';
	width: 1px;
	height: 20px;
	display: inline-block;
	background: #45474b;
	margin: 20px;
	vertical-align: middle;
}
.description span {
	top: 260px;
}
.description {
	width: 400px;
    font-size: 23px;
    font-family: 'Yrsa', serif;

}
.description a {
	font-size: 38px;
}
.description p {
	top: 333px;
	width: 400px;
	margin: 54px 0 80px;
}




.slider1 {
	padding: 0;
	margin: 0;
	list-style-type: none;
	width: 100%;
	height: 1067px;
}
.slider1 ul {
	padding: 0;
    margin: 0;
}

.slide1, .slide2, .slide3, .slide4, .slide5 {
	background-color: rgba(242, 253, 255, 1);
	height: 851px;
	padding-top: 216px;
	display: block;
	width: 100%;
	position: absolute;
	left: 1px;
	top: 1px;
}


.state {
	display: none;
}
.nav {
	z-index: -1;
}
.slider1 .prev, .slider1 .next {
	position: absolute;
	top: 510px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	margin: 0;
	text-decoration: none;
	text-align: center;
	/*z-index: 3;*/
	cursor: pointer;
	padding: 0;
}

.slider1 .prev {
	left: 133px;
	right: auto;
}
.slider1 .next {
	right: 148px;
	left: auto;
}

.wrap {
	display: none;
}
.state:checked + .wrap {
	display: table;
}

.state:checked + .wrap .nav {
	z-index: 5: 
}



































.table1 {
	height: 465px;
}
.col1, .col2 {
	position: relative;
	background-color: rgba(223, 250, 255, 0.4);
	width: 533px;
	height: 212px;
	display: inline-block;
	margin-top: 125px;
	margin-bottom: 122px;
}
.col1 {
	float: left;
	margin-left: 153px;
}
.col1 .title {
	position: absolute;
	font-size: 26px;
	top: 36px;
	left: 32px;
}
.col1 .author {
	position: absolute;
	top: 74px;
	left: 32px;
	font-size: 18px;
}
.col1 span {
	position: absolute;
	top: 74px;
	left: 132px;
}
.col1 a img {
	position: absolute;
	top: -18px;
	right: 37px;
}
.col2 {
	float: right;
	margin-right: 153px;
}
.col2 .title {
	position: absolute;
	width: 249px;
	font-size: 26px;
	left: 32px;
	top: 32px;
}
.col2 a img {
	position: absolute;
	top: -34px;
	right: 39px;
}
.catalog {
	width: 1200px;
	margin: 0 auto;
}
.catalog-menu {
	margin-right: 0;
	padding-bottom: 15px;
	padding-left: 0px;
	margin-left: 40px;
	border-bottom: solid rgba(0,0,0,0.1) 1px;
	display: inline-block;
}
.catalog span {
	font-family: 'Lato', serif;
	font-size: inherit;
	margin-left: 360px; 
	color: #45474b;
	opacity: 0.6;
	padding-bottom: 15px;
	border-bottom: solid rgba(0,0,0,0.1) 1px;
	background: none;
	background-image: url(../images/dropdown.png);
	background-position: 63px 9px;
    background-repeat: no-repeat;
}
.catalog span a {
    display: inline-block;
    width: 77px;
}
.catalog span:hover {
	color: #45474b;
	opacity: 1.0;
	padding-bottom: 15px;
	border-bottom: solid #45474b 1px;
}
.catalog-menu li {
	padding: 0 15px;
	display: inline-block;
    margin: 0;
    vertical-align: middle;
}
.catalog-menu a {
	font-family: 'Lato', serif;
	color: #45474b;
	opacity: 0.6;
}
.catalog-menu a:hover {
	color: #45474b;
	opacity: 1.0;
	padding-bottom: 15px;
	border-bottom: solid #45474b 1px;
}

.catalog-images li {
	padding: 0 20px;
	display: inline-block;
    margin: 0;
    vertical-align: top;
}
.catalog-menu li:nth-child(1) {
	padding-left: 0px;
}
.catalog-menu li:nth-child(6) {
	padding-right: 0px;
}
.catalog-images ul:before, li {
	vertical-align: top;
}
.catalog-images li:nth-child(6n) {
  padding-right: 0;
} 
.catalog-images li:nth-child(6n+1) {
  padding-left: 0;
} 
.catalog-images .title, .author {
	width: 140px;
}
.catalog-images .title {
	vertical-align: top;
	padding-top: 29px;
	padding-bottom: 13px;
}
.catalog-images .author {
	padding-bottom: 34px;
}
.catalog {
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 93px;
}
.slider2 {
	background-color: rgba(223, 250, 255, 0.4);
	height: 722px;
	margin-top: 112px;
}
.slider2 .block-title {
	padding-top: 80px;
	padding-bottom: 56px;
	margin: 0 auto;
	font-size: 42px;
    color: #555963;
    font-family: 'Ramaraja', serif;
    width: fit-content;
}
.slider2-menu {
	margin: 0 auto;
	width: 1100px;
	padding-bottom: 15px;
	border-bottom: solid rgba(0,0,0,0.1) 1px;
}
.slider2-menu li {
	padding: 0 15px;
	display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.slider2-menu li:nth-child(1) {
	padding-left: 35px;
}
.slider2-menu a {
	font-family: 'Lato', serif;
	color: #45474b;
	opacity: 0.6;
}
.slider2-menu a:hover {
	color: #45474b;
	opacity: 1.0;
	padding-bottom: 15px;
	border-bottom: solid #45474b 1px;
}
.slider2-content {
	width: 1130px;
	margin: 0 auto;
	padding-top: 70px;
}
.slider2-info {
	float: left;
	position: relative;
}
.slider2-about {
	width: 444px;
	float: right;
}
.slider2-title {
	font-size: 28px;
	font-family: 'Ramaraja', serif;
    color: #45474b;
    display: block;
    padding-left: 118px;
}
.about {
	font-size: 17px;
	color: #da8913;
    width: 175px;
    letter-spacing: 1.5px;
    text-align: right;
    line-height: 22px;
    position: relative;
    display: inline-block;
}
.slider2-info span{
    position: absolute;
    top: 71px;
    right: 4px;
    font-size: 23px;
    font-family: 'Yrsa', serif;
}
.slider2-info .about:after{
	content: '';
    height: 57px;
    width: 1px;
    background: rgba(85, 89, 99, 0.2);
    display: inline-block;
    position: absolute;
    left: 177px;
    top: 5px;
    margin-left: 5px;
}
.quotation {
	width: 243px;
	text-align: right;
	line-height: 29px;
	font: italic bold 18px'PT serif', serif;
	position: relative;
	background-image: url(../images/quotes.png);
	background-position: 223px 0px;
    background-repeat: no-repeat;
}
.quotation:before{
	content: '';
	height: 1px;
	width: 215px;
    background: rgba(85, 89, 99, 0.2);
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 25px;
}
.slider2-content img {
	display: inline-block;
}
.slider2-content a {
	display: block;
}
.slider2-content .image {
	padding: 0 60px;
}
.slider2-about .text a {
	font: 21px 'Ramaraja', serif;
	line-height: 21px;
	letter-spacing: 1px;
}
.slider2-about .text p {
	font: 21px 'Yrsa', serif;
	line-height: 29px;
	margin-bottom: 52px;
    margin-top: 39px;
}
.slider2-books img {
	padding: 0 7px;
	margin-bottom: 43px;
    margin-top: 44px;
}
.slider2-books img:nth-child(1) {
	padding-left: 0px;
}
.slider2-books a {
	display: inline-block;
}
.link-author {
	font-family: 'Lato', serif;
	font-size: 16px;
	border-bottom: solid #45474b 1px;
	width: 137px;
	padding-bottom: 5px;
}
.table-news {
	width: 1174px;
	margin: 150px auto 0px;
}
.table-news .block-title {
    text-align: center;
    font-size: 42px;
    color: #45474b;
    font-family: 'Ramaraja', serif;
    display: block;
    margin: 0 auto 65px;
}
.table-news:after {
	content: '';
	width: 1210px;
	height: 1px;
	color: #45474b;
	opacity: 0.4;
}
.table-news .article {
	display: inline-block;
	vertical-align: top;
	padding: 0 20px;
}
.table-news .title {
	width: 322px;
	font-size: 27px;
	font-family: 'Ramaraja', serif;
    color: #45474b;
    line-height: 30px;
    padding: 35px 0px 16px;
}
.table-news .author {
	font-size: 18px;
	line-height: 22px;
}
.articles:before{
	content: '';
	width: 1174px;
	height: 1px;
	background: rgba(85, 89, 99, 0.5);
	display: inline-block;
	margin: 55px 0px;
}
.articles:after{
	content: '';
	width: 1174px;
	height: 1px;
	background: rgba(85, 89, 99, 0.5);
	display: inline-block;
	margin: 55px 0px;
}
.articles article {
	display: inline-block;
}
.articles .title {
	width: 250px;
	font-size: 19px;
}
.slider3 {
	height: 632px;
	background-color: rgba(223, 250, 255, 0.4);
	margin: 121px 0px;
}
.slider3-content {
	position: relative;

}
.author-photo {
    position: absolute;
    left: -248px;
    z-index: 9;
}
.slider3-cover {
    position: absolute;
    z-index: 10;
    top: 72px;
    left: 539px;
}
.slider3-label {
	position: absolute;
    z-index: 11;
    top: 43px;
    left: 554px;
}
.slider3-label p {
    position: absolute;
    z-index: 12;
    top: 14px;
    left: 13px;
    font-family: 'Amiri',serif;
    font-size: 17px;
    color: #eaad54;
    width: min-content;
    text-align: center;
}
.slider3-label p span {
	font-family: 'Lato', serif;
	font-size: 12px;
	color: #555963;
}


.slider3-about {
    position: absolute;
    right: 117px;
    top: 80px;
    max-width: 377px;
    max-height: 363px;
}
.slider3-about .block-title {
    font-family: 'Ramaraja', serif;
    font-size: 42px;
    text-align: left;
}
.slider3-about p, span {
	font-family: 'Yrsa', serif;
	font-size: 21px;
}
.slider3-about span {
	font-family: 'Yrsa', serif;
	font-size: 21px;
}
.slider3-about .author {
	display: inline-block;
	width: fit-content;
	font-size: 21px;
}
.slider3-about .author:after {
    content: '';
    width: 1px;
    height: 20px;
    display: inline-block;
    background: #45474b;
    margin: 20px;
    vertical-align: middle;
}
.table3 {
	margin: 0 auto;
	width: 1134px;
	position: relative;
}
.table3 img{
	width: 100%;
}
.table3 .discount-catalog {
	position: relative;
}
.table3-container {
	position: absolute;
    top: 213px;
    right: 380px;
}
.table3-container .block-title {
	padding-bottom: 58px;
}
.table3-desc {
    text-align: center;
    width: 370px;
}

.table3-desc p {
	margin: 0 auto;
    width: 333px;
    font-family: 'Yrsa', serif;
    font-size: 21px;
    padding-bottom: 77px;
}
.table3-prices {
    text-align: center;
    width: 370px;
    padding-bottom: 106px;
}
.table3-prices:after, .table3-prices:before {
    content: '';
    width: 100%;
    height: 1px;
    background: rgb(85, 89, 99);
    display: inline-block;
    margin: 5px;
}
.table3-prices a {
    font-family: 'Amiri', serif;
    font-size: 16px;
    color: #dd9327;
}
.discount-catalog .button {
    text-align: center;
    width: 370px;
}
.cascad {
	width: 1180px;
	margin: 130px auto;
}
.tab1, .tab2, .tab3, .tab4 {
	vertical-align: top;
	margin: 0 23px;

}
.tabs {
	margin-top: 156px;
}
.tabs .tab1 {
	background-color: rgba(223, 250, 255, 0.4);
	width: 246px;
	height: 314px;
	margin-right: 20px;
	display: inline-block;
	position: relative;
}
.tab1 img:nth-child(1) {
	top: -9px;
    left: 33px;
    box-shadow: 0 5px 8px 2px rgba(15, 52, 61, 0.45);
}
.tab1 img:nth-child(2) {
	top: -49px;
    left: 46px;
    box-shadow: 0 13px 22px 2px rgba(15, 52, 61, 0.42);
}
.tab1 img:nth-child(3) {
	top: -84px;
    left: 57px;
    box-shadow: 0 22px 39px 2px rgba(15, 52, 61, 0.36);
}
.tab1 a {
	position: absolute;
	top: 225px;
    left: 33px;
    font-family: 'Ramaraja', serif;
    font-size: 23px;
}
.tab1 span {
	position: absolute;
	top: 255px;
    left: 33px;
    font-family: 'Ramaraja', serif;
    font-size: 23px;
}
.tab1 span img:nth-child(1) {
    top: 1px;
    left: 24px;
    box-shadow: 0 0 0 0;
}
.tabs .tab1 img {
	position: absolute;
}
.tabs .tab2 {
	background-color: rgba(223, 250, 255, 0.4);
	width: 246px;
	height: 314px;
	margin-right: 20px;
	display: inline-block;
	position: relative;
}
.tab2 img:nth-child(1) {
	position: absolute;
	top: -9px;
    left: 33px;
    box-shadow: 0 5px 8px 2px rgba(15, 52, 61, 0.45);
}
.tab2 img:nth-child(2) {
	position: absolute;
	top: -49px;
    left: 46px;
    box-shadow: 0 13px 22px 2px rgba(15, 52, 61, 0.42);
}
.tab2 img:nth-child(3) {
	position: absolute;
	top: -84px;
    left: 57px;
    box-shadow: 0 22px 39px 2px rgba(15, 52, 61, 0.36);
}
.tab2 a {
	position: absolute;
	top: 225px;
    left: 33px;
    font-family: 'Ramaraja', serif;
    font-size: 23px;
}
.tab2 span {
	position: absolute;
	top: 255px;
    left: 33px;
    font-family: 'Ramaraja', serif;
    font-size: 23px;
}
.tab2 span img:nth-child(1) {
    top: 1px;
    left: 24px;
    box-shadow: 0 0 0 0;
}
.tabs .tab2 img {
	position: absolute;
}
.tabs .tab3 {
	background-color: rgba(223, 250, 255, 0.4);
	width: 246px;
	height: 314px;
	margin-right: 20px;
	display: inline-block;
	position: relative;
}
.tab3 img:nth-child(1) {
	position: absolute;
	top: -9px;
    left: 33px;
    box-shadow: 0 5px 8px 2px rgba(15, 52, 61, 0.45);
}
.tab3 img:nth-child(2) {
	position: absolute;
	top: -49px;
    left: 46px;
    box-shadow: 0 13px 22px 2px rgba(15, 52, 61, 0.42);
}
.tab3 img:nth-child(3) {
	position: absolute;
	top: -84px;
    left: 57px;
    box-shadow: 0 22px 39px 2px rgba(15, 52, 61, 0.36);
}
.tab3 a {
	position: absolute;
	top: 225px;
    left: 33px;
    font-family: 'Ramaraja', serif;
    font-size: 23px;
}
.tab3 span {
	position: absolute;
	top: 255px;
    left: 33px;
    font-family: 'Ramaraja', serif;
    font-size: 23px;
}
.tab3 span img:nth-child(1) {
    top: 1px;
    left: 24px;
    box-shadow: 0 0 0 0;
}
.tabs .tab3 img {
	position: absolute;
}
.tabs .tab4 {
	background-color: rgba(223, 250, 255, 0.4);
	width: 246px;
	height: 314px;
	margin-right: 20px;
	display: inline-block;
	position: relative;
}
.tab4 img:nth-child(1) {
	position: absolute;
	top: -9px;
    left: 33px;
    box-shadow: 0 5px 8px 2px rgba(15, 52, 61, 0.45);
}
.tab4 img:nth-child(2) {
	position: absolute;
	top: -49px;
    left: 46px;
    box-shadow: 0 13px 22px 2px rgba(15, 52, 61, 0.42);
}
.tab4 img:nth-child(3) {
	position: absolute;
	top: -84px;
    left: 57px;
    box-shadow: 0 22px 39px 2px rgba(15, 52, 61, 0.36);
}
.tab4 a {
	position: absolute;
	top: 225px;
    left: 33px;
    font-family: 'Ramaraja', serif;
    font-size: 23px;
}
.tab4 span {
	position: absolute;
	top: 255px;
    left: 33px;
    font-family: 'Ramaraja', serif;
    font-size: 23px;
}
.tab4 span img:nth-child(1) {
    top: 1px;
    left: 24px;
    box-shadow: 0 0 0 0;
}
.tabs .tab4 img {
	position: absolute;
}
.publishers {
	width: 1210px;
    margin: 118px auto;
}
.p-info {
	display: inline-block;
	width: 325px;
	text-align: left;
}
.p-info h2 {
	text-align: left;
}
.p-info .button {
	margin-left: 0px;
}
.p-icons {
	float: right;
	width: 880px;
}
.p-icons a {
	margin: 0 41px;
    display: inline-block;
    width: 130px;
    height: 58px;
}



table {
    border-collapse: collapse;
    width: 1140px;
    margin: 0 auto;
}
.table-cart .block-title {
    padding-top: 250px;
    margin-top: 0px;
    font-size: 42px;
    color: #555963;
    font-family: 'Ramaraja', serif;
    margin: 0 auto 88px;
    width: fit-content;
}
table td, th {
	padding: 25px 10px;
	text-align: left;
	width: 168px;
}
table th:nth-child(1) {
	width: 17px;
}
table th:nth-child(3) {
	width: 100px;
	padding-left: 10px;
    padding-right: 100px;
}
table th:nth-child(4) {
	width: 69px;
	padding-left: 10px;
    padding-right: 100px;
}
table th:nth-child(5) {
	width: 69px;
	padding-left: 10px;
    padding-right: 100px;
}
table th:nth-child(6) {
	width: 69px;
}
table .cart-item img {
	width: 100%;
}
table tr {
	border-bottom: #ffffff solid 30px;
    background: rgba(223, 250, 255, 0.4);
}
table .tr-menu {
	background: transparent;
	border-bottom: #ffffff solid 0px;
	font-size: 18px;
}
table td{
	font-family: 'Lato', serif;
	font-size: 15px;
	width: 69px;
}
table td:nth-child(1){
	width: 17px;
}
table td:nth-child(2) {
	width: 55px;
}
table td:nth-child(3){
	width: 150px;
	vertical-align: top;
}
table td:nth-child(4){
	width: 89px;
}
table .price, table input, span .add, span .del {
	font-family: 'Yrsa', serif;
	font-size: 25px;
}
table .add, table .del {
	font-family: 'Yrsa', serif;
	font-size: 25px;
}
table input {
	border: none;
	background: none;
	width: 38px;
    text-align: center;
}
table .add {
	padding-right: 10px;
}
table .del {
	padding-right: 10px;
}
table .remove-item {
	padding-right: 20px;
	padding-left: 20px;
}
table .item-desc {
	font-size: 19px;
	width: 168px;
	margin-right: 20px;
}
table .item-desc .title {
	padding-bottom: 10px;
}

.submition {
	width: 1140px;
	margin: 70px auto 115px;
}
.coupon {
	width: 31%;
	display: inline-block;
    margin-right: 150px;
}
.submition form {
	border-bottom: 2px solid #45474b;
	margin-bottom: 37px;
}
.submition input[type=numeric] {
	font-family: 'Lato', serif;
	font-size: 15px;
	line-height: 32px;
	color: rgba(85, 89, 99, 0.6);
	width: 234px;
	border: none;
	background: none;
}
.coupon button {
	margin: 6px 0 8px 9px;
    padding: 0 33px 0 25px;
    cursor: pointer;
    font-family: 'Lato', serif;
    font-size: 16px;
    border: none;
    border-left: 1px solid #45474b;
    border-radius: 0;
    color: rgb(85, 89, 99);
    background: none;
    background-image: url(../images/check.png);
    background-position: 81px 2px;
    background-repeat: no-repeat;
}
.coupon input[type=text] {
	font-family: 'Lato', serif;
    font-size: 16px;
    color: #959ba1;
    width: 67%;
    border: none;
    display: inline-block;
    padding: 40px 0 20px 0;
    margin: 0px;
}
.coupon p {
	font-family: 'Yrsa', serif;
	font-size: 19px;
}
.checkout{
	display: inline-block;
    margin-left: 150px;
	vertical-align: top;
	width: 41%;
}

.submit {
	display: inline-block;
	width: 190px;
	padding: 0;
}
.submit button {
    background: none;
    border: 2px solid #45474b;
    font-family: 'Lato', serif;
    font-size: 16px;
    width: 161px;
    color: #45474b;
    line-height: 33px;
    padding:0;
}
.shipping-check {
	display: inline-block;
	vertical-align: top;
}
.shipping-check button {
	background-color: white;
    margin: 30px auto;
    max-width: 190px;
    padding: 13px 19px;;
    text-align: center;
    border: 2px solid #45474b;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin-left: 137px;
    border-radius: 0;
}
.subtotal, .cart-subtotal {
	padding-bottom: 32px;
}
.shipping-check .entitle {
	font-family: 'Ramaraja', serif;
	font-size: 21px;
	padding-right: 13px;
	display: inline-block;
}
.shipping-check .price {
	font-family: 'Yrsa', serif;
	font-size: 25px;
	display: inline-block;
	color: #555963;
}
.check button {
	background-color: white;
    margin: 30px auto;
    max-width: 190px;
    padding: 13px 0px;
    display: block;
    text-align: center;
    border: 2px solid #45474b;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
.cart-subtotal button {
	background-color: white;
    margin: 30px auto;
    max-width: 190px;
    padding: 13px 44px;
    text-align: center;
    border: 2px solid #45474b;
    border-radius: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin-left: 137px;
}
.cart-subtotal {
	padding: 0px;
	display: block;
}
.subtotal .entitle {
	font-family: 'Ramaraja', serif;
	font-size: 21px;
	padding-right: 18px;
	display: inline-block;
}
.subtotal .price {
	font-family: 'Yrsa', serif;
	font-size: 25px;
	display: inline-block;
	color: #555963;
}
.total .entitle {
	font-family: 'Ramaraja', serif;
	font-size: 28px;
	padding-right: 26px;
	display: inline-block;
}
.total .price {
	font-family: 'Yrsa', serif;
	font-size: 31px;
	display: inline-block;
	color: #555963;
}
.billing-form {
	width: 1140px;
    padding-top: 250px;
    margin: 0 auto;
}
.billing-form .block-title {
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: 42px;
    color: #555963;
    font-family: 'Ramaraja', serif;
    width: fit-content;
}
.billing-form input, textarea {
	border: none;
	border-bottom: 1px solid #555963;
}
.billing-info, .billing-address {
	width: 47%;
	margin: 0 auto;
	display: inline-block;	
}
.gender label {
	padding-left: 9px;
    padding-right: 30px;
    position: relative;
}
.gender input[type="radio"] {
	display: none;
}
.gender input[type="radio"] + label:before {
	display: inline-block;
	content: '';
	border: 1px solid #45474b;
	border-radius: 50%;
	width: 17px;
	height: 17px;
	position: absolute;
	left: -20px;
	top: 50%;
	transform: translateY(-50%);
}
.gender input[type="radio"]:checked + label:after {
	display: inline-block;
	content: '';
	border-radius: 50%;
	background: #dd9327;
	width: 17px;
	height: 17px;
	position: absolute;
	left: -19px;
	top: 50%;
	transform: translateY(-50%);
}
/*.billing-form .data-option span {
    font-family: 'Lato', serif;
    font-size: 16px;
    color: #959ba1;
    border: none;
    border-bottom: 1px solid #555963;
    margin-right: 0px;
    padding: 0;
}*/
.billing-address .countries .cs-placeholder {
	font-family: 'Lato', serif;
    font-size: 16px;
    color: #959ba1;
    border: none;
    border-bottom: 1px solid #555963;
    margin-right: 0px;
    padding: 40px 0 20px 0;

}
.billing-form span {
	font-family: 'Ramaraja', serif;
	font-size: 28px;
	color: #45474b;
	display: block;
	padding-bottom: 67px;
}
.gender span {
	font-family: 'Ramaraja', serif;
	font-size: 21px;
	color: #45474b;
	display: inline-block;
	padding-bottom: 0px;
	padding-right: 30px;
}
.billing-info label {
	font-family: 'Lato', serif;
	font-size: 16px;
	color: #45474b;
}

.billing-info .halfwidth {
	font-family: 'Lato', serif;
	font-size: 16px;
	width: 46%;
	border: none;
	border-bottom: 1px solid #555963;
	display: inline-block;
	padding: 40px 0 20px 0;
	margin-right: 0px;
	margin-bottom: 20px;
}
.halfwidth:hover {
	content: '';
	color: #ffbb58;
}
:focus {
    outline: none;
}
.billing-address {
	margin-left: 40px;
}
.billing-address .dropdown {
	width: 45%;
    border: none;
    display: inline-block;
    padding: 40px 0 20px 0;
    margin-right: 40px;
    margin-bottom: 20px;
    height: 60px;
}
.shipping span, label {
	display: inline-block;
	padding-right: 44px;
}
.shipping:nth-child(2) {
	padding-right: 100px;
}
.billing-address input[list=countries], input[type=text], input[type=email], input[type=tel]{
	font-family: 'Lato', serif;
	font-size: 16px;
	color: #959ba1;
	width: 45%;
	border: none;
	border-bottom: 1px solid #555963;
	display: inline-block;
	padding: 40px 0 20px 0;
	margin-right: 40px;
	margin-bottom: 20px;
}
input[type=text]:hover {
	content: '';
	color: #ffbb58;
}
input[type=email]:hover {
	content: '';
	color: #ffbb58;
}

.billing-address .halfwidth {
	font-family: 'Lato', serif;
	font-size: 16px;
	width: 46%;
	border: none;
	border-bottom: 1px solid #555963;
	display: inline-block;
	padding: 40px 0 20px 0;
	margin-right: 0px;
	margin-bottom: 20px;
}
.billing-address textarea[name="address"] {
	font-family: 'Lato', serif;
	font-size: 16px;
	color: #959ba1;
	border: none;
	border-bottom: 1px solid #555963;
	display: block;
	width: 100%;
	margin-right: 0;

}
.billing-address textarea[name="address"]:hover {
	content: '';
	color: #ffbb58;
}

.checkout form {
	border: none; 
}
.checkout a {
	text-decoration: underline;
	color: #dd9327;
	font-family: 'Amiri', serif;
	font-family: 16px;
}
.checkout label {
	padding-right: 6px;
	font-family: 'Lato', serif;
	font-size: 16px;
	position: relative;
    padding: 40px 0 20px 35px
}
.checkbox {
	display: block;
}
.checkout input[type="checkbox"] {
	display: none;
}
.checkout input[type="checkbox"] + label:before {
	display: inline-block;
	content: '';
	border: 2px solid #45474b;
	width: 17px;
	height: 17px;
	position: absolute;
	left: 0px;
	top: 64%;
	transform: translateY(-50%);
}
.checkout input[type="checkbox"]:checked + label:after {
	display: inline-block;
	content: '';
	background: #dd9327;
	width: 17px;
	height: 17px;
	position: absolute;
	left: 2px;
	top: 64%;
	transform: translateY(-50%);
}
.shipping {
	padding-top: 64px;
}
.shipping label {
	position: relative;
	padding-left: 11px;
	font-family: 'Lato', serif;
	font-size: 16px;
	color: #45474b;
}
.shipping label .shipping-method {
	font-size: 20px;
	font-family: 'Yrsa', serif;
	padding: 0 0 0 20px;
}
.shipping .create {
	float: right;
}
.shipping input[type="radio"] {
	display: none;
}
.shipping input[type="radio"] + label:before {
	display: inline-block;
	content: '';
	border: 1px solid #45474b;
	border-radius: 50%;
	width: 17px;
	height: 17px;
	position: absolute;
	left: -6px;
	top: 50%;
	transform: translateY(-50%);
}
.shipping input[type="radio"]:checked + label:after {
	display: inline-block;
	content: '';
	border-radius: 50%;
	background: #dd9327;
	width: 17px;
	height: 17px;
	position: absolute;
	left: -5px;
	top: 50%;
	transform: translateY(-50%);
}
.shipping label {
	position: relative;
	padding-left: 23px;
	font-family: 'Lato', serif;
	font-size: 16px;
	color: #45474b;
}
.shipping input[type="checkbox"] {
	display: none;
}
.shipping input[type="checkbox"] + label:before {
	display: inline-block;
	content: '';
	border: 2px solid #45474b;
	width: 17px;
	height: 17px;
	position: absolute;
	left: -20px;
	top: 50%;
	transform: translateY(-50%);
}
.shipping input[type="checkbox"]:checked + label:after {
	display: inline-block;
	content: '';
	background: #dd9327;
	width: 17px;
	height: 17px;
	position: absolute;
	left: -18px;
	top: 50%;
	transform: translateY(-50%);
}
.payment .method{
	background-repeat: no-repeat;
	width: 24%;
	display: inline-block;
	background-position: 120px;
	margin-bottom: 33px;
}
.payment label {
	position: relative;
	padding-left: 30px;
	font-family: 'Lato', serif;
	font-size: 16px;
	color: #45474b;
}
.payment input[type="radio"] {
	display: none;
}
.payment input[type="radio"] + label:before {
	display: inline-block;
	content: '';
	border: 1px solid #45474b;
	border-radius: 50%;
	width: 17px;
	height: 17px;
	position: absolute;
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
}
.payment input[type="radio"]:checked + label:after {
	display: inline-block;
	content: '';
	border-radius: 50%;
	background: #dd9327;
	width: 17px;
	height: 17px;
	position: absolute;
	left: 1px;
	top: 50%;
	transform: translateY(-50%);
}

a#profile {
	cursor: pointer;
}
.popup {
	width: 0;
	height: 0;
	background: 0;
}

.login-container {
	width: 460px;
	height: max-content;
	margin: 206px auto;
	background-color: white;
    box-shadow: 0 22px 39px 2px rgba(15, 52, 61, 0.15);
    position: relative;
    z-index: 450;

}

.login-container .close {
	position: absolute;
    right: 40px;
    top: 30px;
    cursor: pointer;
}
.login-container .close:hover {
	color: #da8913;
}

.login-container .block-title {
	margin: 0 auto;
    padding-bottom: 20px;
    font-size: 42px;
    color: #555963;
    font-family: 'Ramaraja', serif;
    width: fit-content;
}
.substrate {
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: white;
    box-shadow: 0 22px 39px 2px rgba(15, 52, 61, 0.15);
    margin: 20px 0 0 20px;
}

#overlay {
	width: 100%;
	height: 100%;
	display: none;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(255, 255, 255, 0.8);
	z-index: 439;
	overflow-y: scroll;
	visibility: visible;
}
#overlay.opened {
	display: block;
}
.login-content {
	padding: 71px 56px 71px 43px;
	position: relative;
    background: white;
    box-shadow: 0 22px 39px 2px rgba(15, 52, 61, 0.15);

}

.login-content form {
	border-bottom: none;
}
.login-content 	input[type="email"], input[type="password"]{
	width: 100%;
	font-family: 'Lato', serif;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #555963;
    padding: 18px 0;
    margin-right: 40px;
    margin-bottom: 20px;
    line-height: 33px;
}
.login-content input[type="password"] {
	margin-bottom: 50px;
}
.login-content label {
	position: relative;
	padding-left: 34px;
	font-family: 'Lato', serif;
	font-size: 16px;
	color: #45474b;
}
.login-content input[type="checkbox"] {
	display: none;
}
.login-content input[type="checkbox"] + label:before {
	display: inline-block;
	content: '';
	border: 2px solid #45474b;
	width: 17px;
	height: 17px;
	position: absolute;
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
}
.login-content input[type="checkbox"]:checked + label:after {
	display: inline-block;
	content: '';
	background: #dd9327;
	width: 17px;
	height: 17px;
	position: absolute;
	left: 2px;
	top: 50%;
	transform: translateY(-50%);
}
.login-content span {
	float: right;
	font-family: 'Lato', serif;
	font-size: 16px;

}
.login-content span a:hover {
	color:#da8913;
}
.login-content .button {
    margin: 60px auto 0;
}
.login-content button {
	border: none;
	background: none;
	border-bottom: 2px solid #45474b;
	font-family: 'Lato', serif;
	font-size: 16px;
	width: 161px;
	color: #45474b;
	background-position: right;
    text-align: left;
    line-height: 33px;
    padding: 0;
}
.login-content button:hover {
	color: #da8913;
}
.login-content .submit {
    padding: 90px 100px 0 100px;
    margin-bottom: 0px;
}
.login-content .sign {
	display: block;
	font-family: 'Ramaraja', serif;
	font-size: 21px;
}
.login-content .login-social {
	padding: 15px;
}
.login-submit {
	padding: 90px 100px 0;
    display: inline-block;
}
.sign {
	padding: 60px 100px 0;
    display: inline-block;
}
.login-icons {
	padding: 10px 100px 0;
    display: inline-block;
}
article {
	padding: 178px 109px 105px;
}
article h1 {
	color: #555963;
	font-family: 'Ramaraja',serif;
	font-size: 57px;
}
.return {
	border-bottom: 2px solid #45474b;
	display: inline-block;
	font-family: 'Lato',serif;
	font-size: 16px;
	line-height: 33px;
}
.return a:hover {
    color: #da8913;
}
.return img{
	padding-left: 14px;
}
.single_post_header {
	width: 59%;
    margin: 0 auto;
}
.post_author {
	display: block;
	border-top: 1px solid rgba(229, 230, 231, .5);
	border-bottom: 1px solid rgba(229, 230, 231, .5);
	line-height: 33px;
	position: relative;
}
.post_author:after { 
    content: '';
    height: 15px;
    width: 2px;
    background: rgba(229, 230, 231, .5);
    position: absolute;
    left: 128px;
    top: 9px;
}

.post_author .author, .post_author .date {
	display: inline-block;
/*	line-height: 33px;
*/
}
.post_author a {
	float: right;
	padding: 7px 11px;
}
.date {
	color: #a8a8a8;
	font-family: 'Lato', serif;
	font-size: 13px;
}
.related_item1, .related_item2, .related_item3 {
	width: 30%;
    display: inline-block;
}

a:hover .book-icon path {
	fill: #da8913;
}
button:hover .book-icon path {
	fill: #da8913;
}
button .book-icon {
	padding-left: 10px;
}

figcaption {
	font-family: 'Lato', serif;
	font-size: 14px;
	color: #a8a8a8;
	max-width: 748px;
    margin: 0 auto;
}
.post_content p {
	font-family: 'Yrsa', serif;
	font-size: 23px;
	color: #555963;
}
.post_content {
	max-width: 748px;
    margin: 0 auto;
}
.post_content a {
	color: #da8913;
}
blockquote {
	font-family: 'PT Serif';
	font-weight: bold;
	font-style: italic;
	font-size: 20px;
	color: #555963;
	margin: 0 auto;
}
.post_content h2 {
	font-family: 'Ramaraja', serif;
	font-size: 42px;
	color: #555963;
}
.h5 {
	padding: 55px 0;
}
.h5 h5, .h5 p {
	display: inline-block;
}
.h5 h5 {
	font-family: 'Ramaraja', serif;
	font-size: 21px;
	line-height: 23px;
	color: #555963;
	width: 63%;
	margin: 0;
	padding-bottom: 25px;
}
.h5 .small {
	font-family: 'Yrsa', serif;
	font-size: 19px;
	line-height: 26px;
	color: #555963;
	width: 60%;
	padding-right: 36px;
	margin: 0;
}
.h5 p {
	float: right;
	margin: 0;
}
.h5:after {
    content: "";
    display: table;
    clear: both;
}
h3 {
	font-family: 'Ramaraja', serif;
	font-size: 28px;
	color: #555963;	
}
h4 {
	font-family: 'Ramaraja', serif;
	font-size: 24px;
	color: #555963;	
}
.h4 li {
	font-family: 'Yrsa', serif;
	font-size: 23px;
	line-height: 26px;
	color: #555963;
} 
.h4 {
	padding: 0;
}
.post_content figure {
	margin: 0;
}
.align_left {
	background-color: rgba(223, 250, 255, 0.4);
	max-width: 247px;
	float: left;
	margin-top: 33px;
	margin-right: 60px;
	margin-bottom: 79px;
	padding: 40px;
}
.align_left h5 {
	margin-top: 0;
}
h5 {
	font-family: 'Ramaraja', serif;
	font-size: 21px;
	color: #555963;
	line-height: 23px;
}
.align_left .small {
	font-family: 'Lato', serif;
	font-size: 15px;
	color: #555963;
	line-height: 23px;

}
.related_posts {
	max-width: 1212px;
    margin: 0 auto;
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
}
.related {
	padding: 40px 29px 40px 44px;
	display: inline-block;
	max-width: 27%;
	vertical-align: top;
}
.related img {
    float: left;
    padding-right: 26px;
    padding-bottom: 40px;
}
span.name {
    font-family: 'Amiri', serif;
    font-size: 18px;
    color: #eaad54;
}
.related a {
	display: block;
	font-family: 'Ramaraja',serif;
	font-size: 21px;
	color: #555963;
	line-height: 23px;
	padding-bottom: 16px;
}
span.date {
	position: relative;
	padding-left: 16px;
}
span.date:before {
    content: '';
    height: 15px;
    width: 2px;
    background: rgba(229, 230, 231, .5);
    position: absolute;
    left: 6px;
    top: 0px;
}
.related a:hover {
	color:#da8913;
}
.post_comments {
	max-width: 748px;
    margin: 116px auto 0;
}
.post_comments label {
	display: none;
}
.post_comments h3 {
    margin: 0;
    display: inline-block;
}
.comments_count {
    float: right;
    color: #bfbfbf;
    font-family: Lato;
    font-size: 16px;
}
.new-comment {
	padding: 28px;
    background: #f5fdff;
    margin-top: 46px;
    margin-bottom: 80px;
}
.post_comments textarea {
    font-family: 'Lato', serif;
    font-size: 15px;
    font-style: italic;
    line-height: 32px;
    color: rgba(85, 89, 99, 0.6);
    border: none;
    background: none;
    display: inline-block;
    padding-left: 20px;
    margin: 0;
    border-bottom: 2px solid #45474b;
}
.post_comments button {
/*	margin: 6px 0px 8px 9px;*/
    padding: 0 0 0 25px;
    cursor: pointer;
    font-family: 'Lato', serif;
    font-size: 15px;
    border: none;
    color: rgb(85, 89, 99);
    background: none;
/*    border-bottom: 2px solid #45474b;*/
    vertical-align: super;
    height: 21px;
}
.post_comments ul {
    list-style: none;
    padding: 0;
}

.single_comment img {
	float: left;
	padding-right: 16px;
}
.single_comment .date {
	display: block;
}
.single_comment .name {
	font-family: 'Ramaraja', serif;
	font-size: 21px;
	color: #555963;
}
.single_comment .prev-name {
	font-family: 'Amiri', serif;
	font-size: 16px;
	color: #eaad54;
}
.single_comment p {
	font-family: 'Yrsa', serif;
	font-size: 19px;
	color: #555963;
	line-height: 26px;
}
.more-btn button {
	width: 100%;
    border: 2px solid #45474b;
    border-radius: 0;
    background: none;
    height: 43px;
    margin-top: 79px;
    margin-bottom: 120px;
    font-family: 'Lato',serif;
    font-size: 16px;
}

footer {
	background-color: rgba(223, 250, 255, 0.4);
	padding-bottom: 127px;
}
.footer-content {
	width: 1200px;
	margin: 0 auto;
}
.footer-menu {
	border-bottom: 1px solid #45474b;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
    font-size: 14px;
    vertical-align: middle;
    padding-left: 0;
    padding: 42px 0;
}
.footer-menu li {
    display: inline-block;
    margin: 0 0;
    vertical-align: middle;
    padding: 0 23px;
}
.footer-menu li:nth-child(1) {
	padding-left: 0;
}
.footer-menu li a:hover {
    color:#da8913;
}
footer .about {
	width: 549px;
	height: 314px;
	text-align: left;
	float: left;
	margin-top: 141px;
	margin-right: 234px;
}
footer .about a {
	font-family: 'Ramaraja', serif;
	font-size: 28px;
	letter-spacing: 0; 
}
footer .about p {
	font-family: 'Yrsa', serif;
	font-size: 19px;
	letter-spacing: 0;
}
.footer-links {
	padding-left: 0;
}
.footer-links li {
	width: 154px;
	padding: 20px 20px 20px 0;
    display: inline-block;
    margin: 0 0;
    vertical-align: middle;
}
footer .footer-links a {
	font-family: 'Ramaraja', serif;
	font-size: 21px; 
}
footer .footer-links p {
	font-family: 'Lato', serif;
	font-size: 14px;
}
footer form {
	border-bottom: 2px solid #45474b;
	margin-bottom: 79px;
}
footer input[type=email] {
	font-family: 'Lato', serif;
	font-size: 15px;
	line-height: 32px;
	color: rgba(85, 89, 99, 0.6);
	width: 211px;
	border: none;
	background: none;
	display: inline-block;
    padding: 0; 
    margin: 0;
}
footer .follow {
	width: 350px;
    margin-right: 0;
    display: block;
}
footer .follow span {
	font-family: 'Ramaraja', serif;
    font-size: 28px;
    letter-spacing: 0;
    margin-bottom: 35px;
    display: inline-block;
}

footer button {
	margin: 6px 0px 8px 9px;
	padding: 0 33px 0 25px;
	cursor: pointer;
	font-family: 'Lato', serif;
	font-size: 15px;
	border: none;
	border-left: 1px solid #45474b;
	border-radius: 0;
	color: rgb(85, 89, 99);
	background: none;
	background-image: url(../images/mail.png);
	background-position: 102px 2px;
    background-repeat: no-repeat;
}
footer .social {
	display: inline-block;
	margin-top: 141px;
}
footer .subscribe {
	width: 350px;
	margin-right: 0;
	display: block; 
}

footer .subscribe span {
	font-family: 'Ramaraja', serif;
	font-size: 28px;
	letter-spacing: 0;
	margin-bottom: 35px;
	display: inline-block;
}
footer .social-icons {
	margin: 0 auto;
	padding-left: 0;
}
.social-icons li {
    display: inline-block;
    margin: 0 0;
    vertical-align: middle;
}


@media all and (max-width: 768px) {
.header {
    padding: 1.5% 2.5%;
    width: 95%;
    position: absolute;
}
.header-menu {
	width: 55%;
}
.header-menu li {
	padding: 0 8px;
}
.header-icons-container li {
	padding: 0 8px;
}
.slide1 {
	width: 100%;
	height: 73vh;
}
.slide1-book {
	width: 45%;
	margin: 0;
}
.slide1-book_back, .slide1-book_cover, .description, .description p {
	width: 100%;
}
.slide1-book_back img, .slide1-book_cover img {
	width: 100%;
}
.slide1-book_cover {
	top: 57px;
    left: 50px;
}
.slider1 .prev {
    left: 33px;
}
.slider1 .next {
    right: 33px;
}

.desc {
	width: 45%;
	padding-top: 57px;
}
.slide1-title {
	font-size: 45px;
}
.table1 {
	width: 100%;
}
.col1, .col2 {
	width: 33%;
    height: 337px;
}
.col1 {
	margin-left: 53px;
}
.col1 .title {
    position: absolute;
    font-size: 26px;
    top: 253px;
    left: 32px;
}
.col1 .author {
    position: absolute;
    top: 283px;
    left: 32px;
    font-size: 18px;
}
.col1 span {
    position: absolute;
    top: 283px;
    left: 132px;
}
.col1 a img {
    position: absolute;
    top: -31px;
    right: 46px;
}

.col2 {
	margin-right: 53px;
}
.col2 .title {
    position: absolute;
    font-size: 26px;
    top: 253px;
    left: 32px;
}
.col2 .author {
    position: absolute;
    top: 283px;
    left: 32px;
    font-size: 18px;
}

.col2 a img {
    position: absolute;
    top: -31px;
    right: 46px;
}
.catalog {
	width: 100%;
}
.catalog .block-title {
    text-align: center;
    font-size: 42px;
    color: #45474b;
    font-family: 'Ramaraja', serif;
    display: block;
    margin: 0 auto 65px;
}
.catalog span {
	display: none;
}
.catalog-menu {
	margin-left: 55px;
}
.catalog-images li {
    padding: 0 10px;
}
.catalog-images li:nth-child(6n) { 
  padding-right: 10px;
} 
.catalog-images li:nth-child(6n+1) {
  padding-left: 10px;
} 

.table-news {
	width: 95%
}

.table-news .article {
	width: 30%;
	padding: 0 10px;
}
.table-news .article img {
	width: 100%;
}
.table-news .title {
	width: 100%;
	font-size: 21px;
}
.articles {
	width: 100%;
}

.articles:before {
    content: '';
    width: 100%;
    height: 1px;
    background: rgba(85, 89, 99, 0.5);
    display: inline-block;
    margin: 55px 0px;
}
.articles:after {
    content: '';
    width: 100%;
    height: 1px;
    background: rgba(85, 89, 99, 0.5);
    display: inline-block;
    margin: 55px 0px;
}
.articles .article {
	width: 44%;
	padding: 0 17px;
}
.articles .title {
	width: 100%;
}
.table3 {
	width: 100%;
}
.table3-container {
    top: 140px;
    right: 201px;
}
/*.table3-desc {
	top: 136px;
    left: 198px;
}
.table3-prices {
	top: 318px;
    left: 198px;
}
.discount-catalog .button {
	top: 391px;
    left: 288px;
}*/
.cascad {
	width: 100%;
}
.tabs .tab1, .tabs .tab2, .tabs .tab3, .tabs .tab4 {
	width: 27%;
}
.publishers, .slider2, .slider3 {
	display: none;
}


.table {
	overflow-x:auto;
}
table {
	width: 70%;
}
table th:nth-child(3) {
	padding-right: 163px;
}
table th:nth-child(4) {
	padding-right: 76px;
}
table th:nth-child(6) {
	padding-right: 40px;
}
.submition {
	width: 100%;
	margin: 70px auto;
}
.coupon {
	width: 61%;
	margin: 0 auto;
	display: block;
}
.checkout {
	width: 61%;
	margin: 41px auto 0;
	display: block;
}
.single_post_header {
    width: 100%;
}
.post figure {
	margin: 0;
}
.feature_img img {
	width: 100%
}
.h5 .small {
	width: 50%;
    float: left;
    padding: 0;
}
.h5 h5 {
	width: 50%;
}
.related {
	max-width: 40%;
}
.billing-form {
	width: 92%;
}
.billing-info, .billing-address {
    width: 100%;
}
.billing-info .halfwidth {
	width: 100%;
}
.billing-address datalist option, input[list=countries], input[type=text], input[type=email], input[type=tel] {
	width: 100%;
	margin-right: 0;
}
.billing-address {
	margin-left: 0; 
	padding-top: 40px;
}
.billing-address .dropdown {
	width: 100%;
	margin-right: 0;
}
.billing-address .halfwidth {
	width: 100%;
}
.payment {
    margin: 0 auto;
    width: 90%;
}
.method {
	vertical-align: top;
}
.payment .method{
	width: 48%;
}

footer {
	width: 100%;
}
footer .about {
	width: 100%;
    text-align: left;
    display: inline-block;
    margin-top: 55px;
    margin-right: 0;
    height: 0;
}

footer .social {
	margin-top: 461px;
	display: block;
}
footer .subscribe {
	width: 54%;
    display: inline-block;
    margin-right: 138px;
}
footer .follow {
	display: inline-block;
	width: 24%;
}
footer .follow span {
    font-family: 'Ramaraja', serif;
    font-size: 28px;
    letter-spacing: 0;
    margin-bottom: 35px;
    display: inline-block;
}
footer form {
	margin-bottom: 0;
}
.footer-content {
	width: 94%;
}
}
@media all and (min-width: 1861px) {
.header-menu{
	font-size: large;
	width: 75%;
}
.header-menu li {
	padding: 0 31px;
}
.col1 {
	margin-left: 12%;
}
.col2 {
	margin-right: 12%;
}
.author-photo {
	left: -183px;
}	
.slider3-about {
	max-width: 423px;
	right: 310px;
}
.slider3-cover {
	left: 620px;
}
.slider3-label {

}

}
@media all and (max-width: 1400px) {
.header-menu {
	width: 66%;
}
.col1 {
	margin-left: 10%;
}
.col2 {
	margin-right: 10%;
}
.col1, .col2 {
	width: 489px;
}
.author-photo {
	left: -289px;
}
.slider3-about {
	right: 142px;
}
.slider3-cover {
	left: 438px;
}
.slider3-label {
	left: 454px;
}
}
@media all and (max-width: 1024px) {
.header {
    padding: 1.5% 2.5%;
    width: 95%;
}
.header-menu {
	width: 55%;
}
.header-menu li {
	padding: 0 8px;
}
.header-icons-container li {
	padding: 0 8px;
}
.slide1 {
	width: 100%;
	height: 73vh;
}
.slide1-book {
	width: 45%;
	margin: 0;
}
.slide1-book_back, .slide1-book_cover, .description, .description p {
	width: 100%;
}
.slide1-book_back img, .slide1-book_cover img {
	width: 100%;
}
.slide1-book_cover {
	top: 57px;
    left: 50px;
}
.slider1 .prev {
    left: 33px;
}
.slider1 .next {
    right: 33px;
}

.desc {
	width: 45%;
	padding-top: 57px;
}
.slide1-title {
	font-size: 45px;
}
.table1 {
	width: 100%;
}
.col1, .col2 {
	width: 33%;
    height: 337px;
}
.col1 {
	margin-left: 53px;
}
.col1 .title {
    position: absolute;
    font-size: 26px;
    top: 253px;
    left: 32px;
}
.col1 .author {
    position: absolute;
    top: 283px;
    left: 32px;
    font-size: 18px;
}
.col1 span {
    position: absolute;
    top: 283px;
    left: 132px;
}
.col1 a img {
    position: absolute;
    top: -31px;
    right: 46px;
}

.col2 {
	margin-right: 53px;
}
.col2 .title {
    position: absolute;
    font-size: 26px;
    top: 253px;
    left: 32px;
}
.col2 .author {
    position: absolute;
    top: 283px;
    left: 32px;
    font-size: 18px;
}

.col2 a img {
    position: absolute;
    top: -31px;
    right: 46px;
}
.catalog {
	width: 100%;
}
.catalog .block-title {
    text-align: center;
    font-size: 42px;
    color: #45474b;
    font-family: 'Ramaraja', serif;
    display: block;
    margin: 65px auto;
}
.catalog span {
	display: none;
}
.catalog-menu {
	margin-left: 55px;
}
.catalog-images li {
    padding: 0 22px;
}
.catalog-images li:nth-child(6n) { 
  padding-right: 10px;
} 
.catalog-images li:nth-child(6n+1) {
  padding-left: 10px;
} 
.slider2-menu {
    width: 100%;
    padding-left: 0;
}
.slider2-menu li {
    padding: 0 7px;
}
.slider2-content {
    width: 100%;
}
.author-photo {
    display: none;
}
.slider2-about {
	width: 34%;
}
.slider3-cover {
    left: 83px;
}
.slider3-label {
    left: 61px;
}

.table-news {
	width: 95%
}

.table-news .article {
	width: 30%;
	padding: 0 10px;
}
.table-news .article img {
	width: 100%;
}
.table-news .title {
	width: 100%;
	font-size: 21px;
}
.articles {
	width: 100%;
}

.articles:before {
    content: '';
    width: 100%;
    height: 1px;
    background: rgba(85, 89, 99, 0.5);
    display: inline-block;
    margin: 55px 0px;
}
.articles:after {
    content: '';
    width: 100%;
    height: 1px;
    background: rgba(85, 89, 99, 0.5);
    display: inline-block;
    margin: 55px 0px;
}
.articles .article {
	width: 44%;
	padding: 0 17px;
}
.articles .title {
	width: 100%;
}
.table3 {
	width: 100%;
}
.table3-container {
    top: 182px;
    right: 332px;
}

/*.table3-desc {
	top: 136px;
    left: 327px;
}
.table3-prices {
	top: 318px;
    left: 327px;
}
.discount-catalog .button {
	top: 391px;
    left: 409px;
}*/
.cascad {
	width: 100%;
}
.tabs .tab1, .tabs .tab2, .tabs .tab3, .tabs .tab4 {
	width: 27%;
}
.publishers {
    width: 100%;
    height: 362px;
}
.p-info {
    margin-left: 17px;
}
.p-info .block-title {
    text-align: left;
}
.p-icons {
    width: 66%;
}

footer {
	width: 100%;
}
footer .about {
	width: 100%;
    text-align: left;
    display: inline-block;
    margin-top: 55px;
    margin-right: 0;
    height: 0;
}

footer .social {
	margin-top: 461px;
	display: block;
}
footer .subscribe {
	width: 54%;
    display: inline-block;
    margin-right: 138px;
}
footer .follow {
	display: inline-block;
	width: 24%;
}
footer .follow span {
    font-family: 'Ramaraja', serif;
    font-size: 28px;
    letter-spacing: 0;
    margin-bottom: 35px;
    display: inline-block;
}
footer form {
	margin-bottom: 0;
}
.footer-content {
	width: 94%;
}
}

@media all and (max-width: 425px) {
.header {
	width: 95%;
    margin: 10px 5px 0;
    position: absolute;

}
.slider1 {
	display: none;
}
.header-menu {
	display: none;
}
.col1 {
    width: 100%;
    margin: 146px 0;
    height: 212px;
}
.col1 .title {
    position: absolute;
    font-size: 26px;
    top: 36px;
    left: 32px;
}
.col1 .author {
    position: absolute;
    top: 74px;
    left: 32px;
    font-size: 18px;
}
.col1 span {
    top: 71px;
    left: 132px;
}
.col1 a img {
    position: absolute;
    top: -18px;
    right: 37px;
}
.col2 {
    width: 100%;
    margin: 46px 0 95px;
    height: 212px;
}
.col2 .title {
	position: absolute;
	width: 187px;
	font-size: 26px;
	left: 32px;
	top: 32px;
}
.col2 a img {
	position: absolute;
	top: -34px;
	right: 32px;
}
.catalog-menu {
    display: none;
}
.catalog-images {
	padding: 0;
}
.catalog-images li {
    padding: 0 22px;
}
.catalog-images li:nth-child(6n+1) {
    padding-left: 22px;
}
.table-news .article {
    width: 100%;
    padding: 0;
}
.table3 {
	display: none;
}
.tabs .tab1, .tabs .tab2, .tabs .tab3, .tabs .tab4 {
    width: 41%;
    margin-left: 15px;
    margin-right: 19px;
    margin-bottom: 102px;
}
.tab1 span {
	top: 279px;
}
.tab1 img:nth-child(1) {
	left: 23px;
}
.tab1 img:nth-child(2) {
	left: 36px;
}
.tab1 img:nth-child(3) {
	left: 47px;
}
.tab3 span {
	top: 279px;
}
.tab2 img:nth-child(1) {
	left: 23px;
}
.tab2 img:nth-child(2) {
	left: 36px;
}
.tab2 img:nth-child(3) {
	left: 47px;
}
.tab3 span {
	top: 279px;
}
.tab3 img:nth-child(1) {
	left: 23px;
}
.tab3 img:nth-child(2) {
	left: 36px;
}
.tab3 img:nth-child(3) {
	left: 47px;
}
.tab4 span {
	top: 279px;
}
.tab4 img:nth-child(1) {
	left: 23px;
}
.tab4 img:nth-child(2) {
	left: 36px;
}
.tab4 img:nth-child(3) {
	left: 47px;
}
.cascad {
	margin-bottom: 0;
}
.gender {
    width: 100%;
}
.submition {
    padding-left: 12px;
    width: 96%;
}
.shipping {
    width: 100%;
    padding-left: 6px;
}
.shipping label {
	padding-bottom: 20px;
}
.shipping input[type="radio"] + label:before {
	top: 25%;
}
.shipping input[type="radio"]:checked + label:after {
	top: 25%;
}
.shipping .create {
	padding-bottom: 0;
	float: unset;
}
.shipping input[type="checkbox"] + label:before {
	left: -6px;
}
.shipping input[type="checkbox"]:checked + label:after {
	left: -4px;
}
.payment .method {
    width: 100%;
}
.payment {
    margin: 51px auto 0;
    width: 100%;
}
.shipping {
    width: 100%;
}
.coupon, .checkout {
	width: 100%;
}

.login-container {
	width: 88%;
}
.login-content label {
    padding-right: 0;
}
.login-content .submit {
    padding: 90px 67px 0;
}
.sign {
    padding: 60px 67px 0;
}
.login-icons {
    padding: 10px 67px 0;
}

.footer-menu li {
	padding: 0px 2px;
}
/*footer {
	height: 59vh;
}*/
footer .about {
	display: none;
}
footer .social {
    margin-top: 61px;
    display: block;
}
footer .subscribe {
    width: 88%;
    margin-right: 0;
}
footer .follow {
    width: 100%;
    margin-top: 38px;
}
}
@media all and (max-width: 375px) {
.col1 .title {
    width: 40%;
}
.col1 .author {
	top: 114px;
}
.col1 span {
	top: 114px;
}
.col2 {
	margin: 0px 0 95px;
}
.col2 .title {
    width: 38%;
}
.catalog-images li:nth-child(6n+1) {
    padding-left: 13px;
}
.catalog-images li {
    padding: 0 13px;
}
.tabs .tab1, .tabs .tab2, .tabs .tab3, .tabs .tab4 {
    width: 92%;
}
.tab1 img:nth-child(1) {
    left: 33px;
}
.tab1 img:nth-child(2) {
    left: 56px;
}
.tab1 img:nth-child(3) {
    left: 77px;
}
.tab2 img:nth-child(1) {
    left: 33px;
}
.tab2 img:nth-child(2) {
    left: 56px;
}
.tab2 img:nth-child(3) {
    left: 77px;
}
.tab3 img:nth-child(1) {
    left: 33px;
}
.tab3 img:nth-child(2) {
    left: 56px;
}
.tab3 img:nth-child(3) {
    left: 77px;
}
.tab4 img:nth-child(1) {
    left: 33px;
}
.tab4 img:nth-child(2) {
    left: 56px;
}
.tab4 img:nth-child(3) {
    left: 77px;
}
.login-content span {
    float: left;
    margin-top: 18px;
}
.login-content .submit {
    padding: 90px 41px 0;
}
.login-icons {
    padding: 10px 41px 0;
}
.sign {
    padding: 60px 41px 0;
}
footer .subscribe {
    width: 100%;
}
/*footer {
    height: 63vh;
}
*/.footer-menu li {
    padding: 9px 24px;
}
.footer-menu li:nth-child(1) {
    padding-left: 24px;
}
.footer-menu {
	padding: 16px 0;
}
.social-icons li {
    padding: 0 6px;
}

}

@media all and (max-width: 320px) {

.col1 a img {
    width: 37%;
    top: 12px;
    right: 15px;
}
.col2 a img {
    width: 40%;
    top: 9px;
    right: 15px;
}
.catalog-images li:nth-child(6n+1) {
    padding-left: 6px;
}
.catalog-images li:nth-child(6n) {
    padding-right: 6px;
}
.catalog-images li {
    padding: 0 6px;
}
footer input[type=email] {
	width: 53%
}
.billing-address {
    margin-left: 0;
    width: 100%;
    padding-top: 40px;
}
.billing-info {
    margin-left: 0;
    width: 100%;
}
.billing-address .dropdown {
    width: 100%;
}
.shipping label {
	padding-bottom: 20px;
}
.shipping input[type="radio"] + label:before {
	top: 25%;
}
.shipping input[type="radio"]:checked + label:after {
	top: 25%;
}
.shipping .create {
	padding-bottom: 0;
	float: unset;
}
.shipping input[type="checkbox"] + label:before {
	left: -6px;
}
.shipping input[type="checkbox"]:checked + label:after {
	left: -4px;
}
.payment .method {
    width: 100%;
}
.coupon input[type=text] {
    width: 60%;
}
.shipping-check button {
	width: 100%;
	margin-left: 0;
}
.footer-menu li {
    width: 100%;
    padding: 9px 0;
}
.footer-menu li:nth-child(1) {
    width: 100%;
    padding: 9px 0;
}
.login-content .submit {
    width: 74%;
    padding: 90px 17px 0;
}
.sign {
    padding: 60px 17px 0;
}
.login-content .login-social {
    padding: 8px;
}

}
